<div
  class="container"
  style="
    border: 1px solid rgb(160, 153, 153);
    margin-bottom: 30px;
    border-radius: 5%;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.6);
  "
>
  <header>Register</header>
  <form>
    <div class="input-field">
      <input type="text" required />
      <label>Tài khoản</label>
    </div>
    <div class="input-field">
      <input type="text" required />
      <label>Email</label>
    </div>
    <div class="input-field">
      <input class="pswrd" type="password" required />
      <span class="show">SHOW</span>
      <label>Mật khẩu</label>
    </div>
    <div class="input-field">
      <input class="pswrd" type="password" required />
      <span class="show">SHOW</span>
      <label>Xác nhân mật khẩu</label>
    </div>
    <div class="input-field">
      <input type="text" required />
      <label>Nhập tên công ty</label>
    </div>
    <div class="input-field">
      <input type="number" required />
      <label>SĐT</label>
    </div>
    <div class="button">
      <div class="inner"></div>
      <button>Đăng Ký</button>
    </div>
  </form>

  <div class="signup">
    Bạn đã là nhà tuyển dụng? <a href="/login">Đăng nhập ngay</a>
  </div>
</div>
<script>
  var input = document.querySelector(".pswrd");
  var show = document.querySelector(".show");
  show.addEventListener("click", active);
  function active() {
    if (input.type === "password") {
      input.type = "text";
      show.style.color = "#1DA1F2";
      show.textContent = "HIDE";
    } else {
      input.type = "password";
      show.textContent = "SHOW";
      show.style.color = "#111";
    }
  }
</script>
