<div class="body-form">
  <form>
    <h1>ĐĂNG KÝ</h1>
    <div class="form-group">

      <input type="email" data-validate="Account Name is required" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Vui lòng nhập tên Tài khoản">
     </div>

      <div class="form-group">

        <input type="email" data-validate="Email is required" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Vui lòng nhập Email hoặc Số điện thoại">
       </div>
       <div class="form-group">
      <input type="password" data-validate="Password is required" class="form-control" id="exampleInputPassword1" placeholder="Vui lòng nhập Mật khẩu" >
    </div>
    <div class="form-group">

      <input type="password" data-validate="Password is required" class="form-control" id="exampleInputPassword1" placeholder="Nhập lại mật khẩu" >
    </div>
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1"> Tôi đồng ý với Điều khoản dịch vụ và Chính sách bảo mật của QT-HR</label>
    </div>
    <button type="submit" class="btn btn-primary">Đăng ký</button><br><br>


  </form>
  </div>
