.body-form{
  width: 100%;
  height: 700px;
  background-image: url('https://st.quantrimang.com/photos/image/2018/03/02/hinh-nen-28.jpg');
  background-size: cover;
margin-top: -5%;
padding: 9%;
}
form{

  width: 40%;
  height: auto;
  margin-left: 32%;

  background-color: white;
  padding: 5%;
  font-size: 15px;
}
h1{
  text-align: center;
  font-style: italic;
  font-size: 30px;
  padding-bottom: 10px;
  text-shadow: rgba(0,0,255,1) -1px -2px 0.5em;

}
.form-group{
  padding-top: 10px;
}
.form-control{
  height: 40px;

  font-size: 15px;
}
.form-check-label{
  margin-left: 20px;
}
button{
  width: 100%;
  font-size: 15px;
  height: 40px;
}

