<header class="header" style="background-color: #ffffff">
  <div class="header__top">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-2 col-md-7 col-sm-6 col-xs-12" style="margin-top: 25px; margin-left:100px;">
          <a href="">
            <img
              src="../../../assets/images/images/QT-HR.png"
              alt="logo"
              style="height: 165px; width: 160px; margin: 20px 0 15px 20px"
            />
          </a>
        </div>
        <div class="col-lg-5" style="margin-top: 50px; margin-left: 440px;">
          <div class="header__actions" style="margin-left: 80px; width:700px; height: 130px;">
            <div *ngIf="!login" style="width: 550px">
              <a href="admin/login"
                ><i
                  style="color: darkslateblue; position: relative;"
                  class="fa fa-user-circle fa-2x"
                ></i
              ></a>
              <a *ngIf="authService.user | async" href="/admin/dashboard" style="margin-left: 5px;">
                <strong>{{ (authService.user | async)?.email }}</strong
                >
              </a>
            </div>



          <hr style="width: 570px;">

            <a *ngIf="!(authService.user | async)" href="admin/register"
              >Đăng ký <i class="glyphicon glyphicon-info-sign"></i
            ></a>

            <a class="dropdown">
              <a class="dropbtn"
                >Nhà Tuyển Dụng <i class="glyphicon glyphicon-briefcase"></i
              ></a>
              <div class="dropdown-content">
                <a routerLink="/login">Đăng nhập</a>
                <a routerLink="/register">Đăng ký</a>
              </div>
            </a>
            <a href="#"> Ứng dụng <i class="fas fa-long-arrow-alt-down"></i></a>

            <a href="#">Thông báo <i class="far fa-bell"></i></a>

            <div class="btn-group ps-dropdown" style="z-index: 9999999999">
              <a
                class="dropdown-toggle"
                href="#"
                data-toggle="dropdown"
                aria-haspopup="false"
                aria-expanded="true"
                >Ngôn ngữ <i class="fas fa-globe-americas"></i>
                <ul class="dropdown-menu">
                  <li><a href="#">English</a></li>
                  <li><a href="#">Japanese</a></li>
                  <li><a href="#">Chinese</a></li>
                </ul>
              </a>
              <a (click)="logout()" *ngIf="authService.user | async" href="#"
                >Đăng xuất <i class="fas fa-sign-out-alt"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <nav class="navigation navbar-menu">
    <div class="container-fluid">
      <div class="navigation__column">
        <ul class="main-menu menu container" style="margin-left: 330px">
          <li class="menu-item menu-item-has-children dropdown">
            <a href="index.html">Trang chủ</a>
          </li>

          <li class="menu-item menu-item-has-children dropdown">
            <a routerLink="/about">Giới thiệu</a>
          </li>

          <li class="menu-item">
            <a href="/joblist">Việc làm</a>
          </li>

          <li class="menu-item">
            <a routerLink="/topcv">Tạo CV</a>
          </li>

          <li class="menu-item menu-item-has-children dropdown">
            <a href="#">News</a>
            <ul class="sub-menu">
              <li class="menu-item">
                <a routerLink="/blog" style="color: black">Blog List</a>
              </li>
              <li class="menu-item">
                <a routerLink="/blog-single" style="color: black"
                  >Blog Single</a
                >
              </li>
            </ul>
          </li>
          <li class="menu-item">
            <a routerLink="/contact">Contact</a>
          </li>
        </ul>
      </div>

      <div id="hero">
        <div class="container">
          <h1 style="font-size: 280%; font-weight: bold">
            WEBSITE CHO ỨNG VIÊN CHUYÊN NGHIỆP
          </h1>
          <h4 style="margin-bottom: 50px">
            TRANG WEB TÌM KIẾM VIỆC LÀM NỔI BẬT VÀ HOT NHẤT TẠI QT-HR
          </h4>


        </div>
      </div>
    </div>

  </nav>

</header>
