<!--/banner-info-w3layouts-->
<div class="banner-info-w3layouts text-center">
  <h3>
    <span>Find the Right Job</span> .
    <span>Right Now.</span>
  </h3>
  <p>Your job search starts and ends with us.</p>

  <form action="#" method="post" class="ban-form row">
    <div class="col-md-3 banf">
      <input
        class="form-control"
        type="text"
        name="Name"
        placeholder="Name"
        required=""
      />
    </div>
    <div class="col-md-3 banf">
      <select class="form-control" id="country12">
        <option>Location</option>
        <option>Da Nang</option>
        <option>Ho Chi Minh</option>
        <option>Ha Noi</option>
        <option>Tay Nguyen</option>
        <option>Hue</option>
        <option>Quy Nhon</option>
        <option>Quang Ngai</option>
      </select>
    </div>
    <div class="col-md-3 banf">
      <select id="country13" class="form-control">
        <option>Finance Sector</option>
        <option>Banking Sector</option>
        <option>Engineering Sector</option>
        <option>Accounting Jobs</option>
        <option>Interior Design</option>
        <option>Export Import Jobs</option>
      </select>
    </div>
    <div class="col-md-3 banf">
      <button class="btn1" type="submit">
        FIND JOB
        <i class="fas fa-search"></i>
      </button>
    </div>
  </form>
</div>
<!--//banner-info-w3layouts-->

<!-- banner-text -->
<!-- banner-bottom-wthree -->
<section class="banner-bottom-wthree py-lg-5 py-md-5 py-3">
  <div class="container">
    <div class="inner-sec-w3ls py-lg-5 py-3">
      <h3 class="tittle text-center mb-lg-4 mb-3">
        <span>Our Mission</span>Popular Categories
      </h3>
      <div class="row populor_category_grids mt-5">
        <div class="col-md-3 category_grid">
          <div class="view view-tenth">
            <div class="category_text_box">
              <i class="fas fa-bullhorn"></i>
              <h3>Multimedia</h3>
              <p>(34 open flow-positions)</p>
            </div>
            <div class="mask">
              <a href="#">
                <img src="assets/images/p1.jpg" class="img-fluid" alt=""/>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-3 category_grid">
          <div class="view view1 view-tenth">
            <div class="category_text_box">
              <i class="fas fa-graduation-cap"></i>
              <h3>Education</h3>
              <p>(22 open flow-positions)</p>
            </div>
            <div class="mask">
              <a href="#">
                <img src="assets/images/p2.jpg" class="img-fluid" alt=""/>
              </a>
            </div>
          </div>
        </div>

        <div class="col-md-3 category_grid">
          <div class="view view2 view-tenth">
            <div class="category_text_box">
              <i class="fab fa-accusoft"></i>
              <h3>Acounting</h3>
              <p>(16 open flow-positions)</p>
            </div>
            <div class="mask">
              <a href="#">
                <img src="assets/images/p3.jpg" class="img-fluid" alt=""/>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-3 category_grid">
          <div class="view view3 view-tenth">
            <div class="category_text_box">
              <i class="fas fa-users"></i>
              <h3>Human Resource</h3>
              <p>(4 open flow-positions)</p>
            </div>
            <div class="mask">
              <a href="#">
                <img src="assets/images/p4.jpg" class="img-fluid" alt=""/>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-3 justify-content-center">
        <div class="col-md-3 category_grid">
          <div class="view view4 view-tenth">
            <div class="category_text_box">
              <i class="fas fa-users"></i>
              <h3>Home Science</h3>
              <p>(8 open flow-positions)</p>
            </div>
            <div class="mask">
              <a href="#">
                <img src="assets/images/p4.jpg" class="img-fluid" alt=""/>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-3 category_grid">
          <div class="view view5 view-tenth">
            <div class="category_text_box">
              <i class="fas fa-users"></i>
              <h3>Construction</h3>
              <p>(6 open flow-positions)</p>
            </div>
            <div class="mask">
              <a href="#">
                <img src="assets/images/p4.jpg" class="img-fluid" alt=""/>
              </a>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</section>
<!-- //banner-bottom-wthree -->
<!--/process-->
<h3 class="tittle text-center mb-lg-4 mb-3">
  HOT JOB
</h3>
<div class="col-lg-8 text-info-sec">
  <!--/job1-->
  <div class="job-post-main row" *ngFor="let data of jobData">
    <div class="col-md-9 job-post-info text-left">
      <div class="job-post-icon">
        <i> <img src="{{data.logo}}"></i>
      </div>
      <div class="job-single-sec">
        <h4>
          <a href="#">{{data.title}}</a>
        </h4>
        <p class="my-2">{{data.description}}</p>
        <ul class="job-list-info d-flex">
          <li>
            <i class="fas fa-briefcase"></i> Comera
          </li>
          <li>
            <i class="fas fa-map-marker-alt"></i> Da Nang
          </li>
          <li>
            <i class="fas fa-dollar-sign"></i> 300000 - 500000 / USD
          </li>
        </ul>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="col-md-3 job-single-time text-right">
                                                <span class="job-time">
                                                    <i class="far fa-heart"></i> Full Time</span>
      <a
        href="javascript:void( window.open( 'https://form.jotform.com/202671468576465', 'blank', 'scrollbars=yes, toolbar=no, width=700, height=500' ) ) "
        class="aply-btn ">Appy Now</a>
    </div>
  </div>
  <!--//job1-->
</div>

<section class="banner-bottom-wthree mid py-lg-5 py-3">
  <div class="container">
    <div class="inner-sec-w3ls py-lg-5 py-3">
      <div class="mid-info text-center pt-3">
        <h3 class="tittle text-center cen mb-lg-5 mb-3">
          <span>Some Info</span>Make a Difference with Your Online Resume!
        </h3>
        <p></p>
        <div class="resume">
          <a routerLink="/register" data-toggle="modal" data-target="#exampleModalCenter2">
            <i  class="far fa-user"></i> Create Acccount</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
<!--//job -->
<!--job -->
<section class="banner-bottom-wthree py-lg-5 py-md-5 py-3">
  <div class="container">
    <div class="inner-sec-w3ls py-lg-5 py-3">
      <!---728x90--->
      <h3 class="tittle text-center mb-lg-5 mb-3">
        <span>Some Info</span>Selection Process
      </h3>

      <div class="mid-info text-center mt-5">
        <div class="parent-chart">
          <div class="level lev-one top-level">
            <div class="flow-position">
              <img
                src="assets/images/s1.jpg"
                alt=" "
                class="img-fluid rounded-circle"
              />
              <br/>
              <strong>Recruitment Process</strong>
              <br/>
              Lorem ipsum
            </div>
          </div>
          <div class="flow-chart">
            <div class="level lev-two last-lev">
              <div class="flow-position">
                <img
                  src="assets/images/s2.jpg"
                  alt=" "
                  class="img-fluid rounded-circle"
                />
                <br/>
                <strong>1.Job Vacancy</strong>
                <br/>
                Lorem ipsum
              </div>
              <!--
          -->
              <div class="flow-position">
                <img
                  src="assets/images/s3.jpg"
                  alt=" "
                  class="img-fluid rounded-circle"
                />
                <br/>
                <strong>2. Job Analysis </strong>
                <br/>
                Lorem ipsum
              </div>
              <!--
          -->
              <div class="flow-position">
                <img
                  src="assets/images/s4.jpg"
                  alt=" "
                  class="img-fluid rounded-circle"
                />
                <br/>
                <strong>3. Attracting Candidates </strong>
                <br/>
                Lorem ipsum
              </div>
              <!--
          -->
              <div class="flow-position">
                <img
                  src="assets/images/s5.jpg"
                  alt=" "
                  class="img-fluid rounded-circle"
                />
                <br/>
                <strong>4.Screening </strong>
                <br/>
                Lorem ipsum
              </div>
              <!--
          -->
              <div class="flow-position">
                <img
                  src="assets/images/s6.jpg"
                  alt=" "
                  class="img-fluid rounded-circle"
                />
                <br/>
                <strong>5.Interviewing Candidates </strong>
                <br/>
                Lorem ipsum
              </div>
              <!--
          -->
              <div class="flow-position">
                <img
                  src="assets/images/s7.jpg"
                  alt=" "
                  class="img-fluid rounded-circle"
                />
                <br/>
                <strong>6.Selecting</strong>
                <br/>
                Lorem ipsum
              </div>
              <!--
          -->
              <div class="flow-position">
                <img
                  src="assets/images/s8.jpg"
                  alt=" "
                  class="img-fluid rounded-circle"
                />
                <br/>
                <strong>7.Employee Evaluation </strong>
                <br/>
                Lorem ipsum
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--//job -->
<!--/candidates -->
<section class="banner-bottom-wthree bg-light py-lg-5 py-3 text-center">
  <div class="container">
    <div class="inner-sec-w3ls py-lg-4 py-md-4 py-3">
      <h3 class="tittle text-center mb-lg-5 mb-3">
        <span>Some Info</span>Featured Candidates
      </h3>
      <div class="row mt-5">
        <div class="col-lg-3 member-main text-center">
          <div class="card">
            <div class="card-body">
              <div class="member-img">
                <img
                  src="assets/images/team1.jpg"
                  alt=" "
                  class="img-fluid rounded-circle"
                />
              </div>
              <div class="member-info text-center py-lg-4 py-2">
                <h4>Jackson</h4>

                <p class="my-4">
                  Aenean orci erat, placerat id pulvinar nec, tincidunt vel
                  eros.
                </p>
                <div class="mt-3 team-social text-center">
                  <ul class="social-icons text-center">
                    <li>
                      <a href="#">
                        <i class="fab fa-facebook-f"></i>
                      </a>
                    </li>
                    <li class="mx-3">
                      <a href="#">
                        <i class="fab fa-twitter"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fab fa-google-plus-g"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 member-main text-center">
          <div class="card">
            <div class="card-body">
              <div class="member-img">
                <img
                  src="assets/images/team2.jpg"
                  alt=" "
                  class="img-fluid rounded-circle"
                />
              </div>
              <div class="member-info text-center py-lg-4 py-2">
                <h4>Son Nguyen</h4>

                <p class="my-4">
                  Aenean orci erat, placerat id pulvinar nec, tincidunt vel
                  eros..
                </p>
                <div class="mt-3 team-social text-center">
                  <ul class="social-icons text-center">
                    <li>
                      <a href="#">
                        <i class="fab fa-facebook-f"></i>
                      </a>
                    </li>
                    <li class="mx-3">
                      <a href="#">
                        <i class="fab fa-twitter"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fab fa-google-plus-g"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 member-main text-center">
          <div class="card">
            <div class="card-body">
              <div class="member-img">
                <img
                  src="assets/images/team3.jpg"
                  alt=" "
                  class="img-fluid rounded-circle"
                />
              </div>
              <div class="member-info text-center py-lg-4 py-2">
                <h4>Hau Nguyen</h4>

                <p class="my-4">
                  Aenean orci erat, placerat id pulvinar nec, tincidunt vel
                  eros..
                </p>
                <div class="mt-3 team-social text-center">
                  <ul class="social-icons text-center">
                    <li>
                      <a href="#">
                        <i class="fab fa-facebook-f"></i>
                      </a>
                    </li>
                    <li class="mx-3">
                      <a href="#">
                        <i class="fab fa-twitter"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fab fa-google-plus-g"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 member-main text-center">
          <div class="card">
            <div class="card-body">
              <div class="member-img">
                <img
                  src="assets/images/team4.jpg"
                  alt=" "
                  class="img-fluid rounded-circle"
                />
              </div>
              <div class="member-info text-center py-lg-4 py-2">
                <h4>Hieu Nguyen</h4>
                <p class="my-4">
                  Aenean orci erat, placerat id pulvinar nec, tincidunt vel
                  eros..
                </p>
                <div class="mt-3 team-social text-center">
                  <ul class="social-icons text-center">
                    <li>
                      <a href="#">
                        <i class="fab fa-facebook-f"></i>
                      </a>
                    </li>
                    <li class="mx-3">
                      <a href="#">
                        <i class="fab fa-twitter"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fab fa-google-plus-g"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/candidates -->
<!--/stats-->
<section class="banner-bottom-wthree bg-dark dotts py-lg-5 py-3">
  <div class="container">
    <div class="inner-sec-w3ls py-lg-5 py-3">
      <h3 class="tittle cen text-center mb-lg-5 mb-3">
        <span>Some Info</span> Our Stats
      </h3>
      <div class="stats row mt-5">
        <div class="col-md-3 stats_left counter_grid text-center">
          <p class="counter">145</p>
          <h4>Jobs Posted</h4>
        </div>
        <div class="col-md-3 stats_left counter_grid1 text-center">
          <p class="counter">105</p>
          <h4>Jobs Filled</h4>
        </div>
        <div class="col-md-3 stats_left counter_grid2 text-center">
          <p class="counter">403</p>
          <h4>Companies</h4>
        </div>
        <div class="col-md-3 stats_left counter_grid3 text-center">
          <p class="counter">945</p>
          <h4>Members</h4>
        </div>
      </div>
    </div>
  </div>
</section>
<!--//stats-->

<!--job -->
<section class="banner-bottom-wthree py-lg-5 py-md-5 py-3">
  <div class="container">
    <div class="inner-sec-w3ls py-lg-5 py-3">
      <h3 class="tittle text-center mb-lg-5 mb-3">
        <span>Some Info</span> Quick Career Tips
      </h3>
      <div class="row mt-5">
        <div class="card-deck">
          <div class="card">
            <img
              src="assets/images/g1.jpg"
              alt="Card image cap"
              class="img-fluid card-img-top"
            />
            <div class="card-body">
              <h5 class="card-title">
                Would Disruption Work for Your Business?
              </h5>
              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit sedc
                dnmo eiusmod tempor incididunt ut labore et dolore .
              </p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>
          <div class="card">
            <img
              src="assets/images/g2.jpg"
              alt="Card image cap"
              class="img-fluid card-img-top"
            />
            <div class="card-body">
              <h5 class="card-title">
                The New Mix of a Multigenerational Workforce
              </h5>
              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit sedc
                dnmo eiusmod tempor incididunt ut labore et dolore.
              </p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>
          <div class="card">
            <img
              src="assets/images/g3.jpg"
              alt="Card image cap"
              class="img-fluid card-img-top"
            />
            <div class="card-body">
              <h5 class="card-title">
                Would Disruption Work for Your Business?
              </h5>
              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit sedc
                dnmo eiusmod tempor incididunt ut labore et dolore.
              </p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--//job -->
<!--/mobile-app -->
<section class="banner_bottom mobile-app">
  <div class="dotts py-lg-5 py-3">
    <div class="container">
      <!--/mobile-app -->
      <div class="inner-sec-w3ls py-lg-5 py-3">
        Nam arcu mauris, tincidunt sed convallis non, egestas ut lacus.
        <div class="row">
          <div class="col-md-7 app-info">
            <h3 class="header">Download &amp; Enjoy</h3>
            <p class="para_vl">
              Cras sapien urna, malesuada ut varius consequat, hendrerit nisl.
              Aliquam vestibulum, odio non ullamcorper malesuada.
            </p>
            <ul class="app-devices mt-5">
              <li>
                <a href="#" title="">
                  <i class="fab fa-apple"></i>
                  <span class="app-con"
                  >App Store
                    <span class="avail">Available now on the </span>
                  </span>
                </a>
              </li>
              <li>
                <a href="#" title="">
                  <i class="fab fa-google-play"></i>

                  <span class="app-con"
                  >Google Play
                    <span class="avail">Get in on</span>
                  </span>
                </a>
              </li>
            </ul>
            <div class="clearfix"></div>
            <p class="para_vl">
              <a href="#">Click here </a>to know more about apps.
            </p>
          </div>
          <div class="col-md-5 app-img">
            <img src="assets/images/mobile.png" alt=" " class="img-fluid"/>
          </div>
        </div>
        <!--//mobile-app -->
      </div>
    </div>
  </div>
</section>
<!--clients-->
<section class="clents-slide py-lg-5 py-3">
  <div class="container">
    <div class="inner-sec-w3ls py-lg-5 py-3">
      <h3 class="tittle text-center mb-lg-5 mb-3">
        <span>Some Info</span> What Clients Say?
      </h3>
      <div
        id="carouselExampleControls"
        class="carousel slide"
        data-ride="carousel"
      >
        <div class="carousel-inner mt-5">
          <div class="carousel-item active">
            <div class="row">
              <div class="col-md-6 testi-main">
                <div class="testi-grids row">
                  <div class="col-md-9 col-sm-9 col-xs-9 clients-info-text">
                    <h6>Giao diện đa dạng</h6>
                    <p>
                      Tôi là khách hàng mới của QT-HR , tôi cảm thấy website rất
                      hữu ích cho tôi.
                    </p>
                    <h5>Son Nguyen</h5>
                  </div>
                  <div class="col-md-3 col-sm-3 col-xs-3 img-testi">
                    <img
                      class="img-fluid"
                      src="assets/images/team4.jpg"
                      alt=""
                    />
                  </div>
                </div>
              </div>
              <div class="col-md-6 testi-main">
                <div class="testi-grids t2 row">
                  <div class="col-md-3 col-sm-3 col-xs-3 img-testi">
                    <img
                      class="img-fluid"
                      src="assets/images/team3.jpg"
                      alt=""
                    />
                  </div>
                  <div class="col-md-9 col-sm-9 col-xs-9 clients-info-text">
                    <h6>Tìm kiếm công việc nhanh chóng, giao diện đẹp mắt</h6>
                    <p>Tôi rất hài lòng!</p>
                    <h5>Hau Nguyen</h5>
                  </div>
                </div>
              </div>
              <div class="col-md-6 testi-main">
                <div class="testi-grids row">
                  <div class="col-md-9 col-sm-9 col-xs-9 clients-info-text">
                    <h6>Việc làm được cập nhật liên tục!</h6>
                    <p>Rất hữu ích !</p>
                    <h5>Hieu Nguyen</h5>
                  </div>
                  <div class="col-md-3 col-sm-3 col-xs-3 img-testi">
                    <img
                      class="img-fluid"
                      src="assets/images/team2.jpg"
                      alt=""
                    />
                  </div>
                </div>
              </div>
              <div class="col-md-6 testi-main">
                <div class="testi-grids t2 row">
                  <div class="col-md-3 col-sm-3 col-xs-3 img-testi">
                    <img
                      class="img-fluid"
                      src="assets/images/team1.jpg"
                      alt=""
                    />
                  </div>
                  <div class="col-md-9 col-sm-9 col-xs-9 clients-info-text">
                    <h6>Hợp đồng</h6>
                    <p>Sẽ hỗ trợ QT-HR trong suốt quá trình sử dụng</p>
                    <h5>Jackson</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col-md-6 testi-main">
                <div class="testi-grids row">
                  <div class="col-md-9 col-sm-9 col-xs-9 clients-info-text">
                    <h6>Thông tin</h6>
                    <p>
                      Lorem ipsum dolor sit amet.Cras rutrum iaculis enim, non
                      mattis.
                    </p>
                    <h5>Jackson</h5>
                  </div>
                  <div class="col-md-3 col-sm-3 col-xs-3 img-testi">
                    <img
                      class="img-fluid"
                      src="assets/images/team1.jpg"
                      alt=""
                    />
                  </div>
                </div>
              </div>
              <div class="col-md-6 testi-main">
                <div class="testi-grids t2 row">
                  <div class="col-md-3 col-sm-3 col-xs-3 img-testi">
                    <img
                      class="img-fluid"
                      src="assets/images/team2.jpg"
                      alt=""
                    />
                  </div>
                  <div class="col-md-9 col-sm-9 col-xs-9 clients-info-text">
                    <h6>Convallis</h6>
                    <p>
                      Lorem ipsum dolor sit amet. enim, non convallis felis
                      mattis.
                    </p>
                    <h5>Daniele</h5>
                  </div>
                </div>
              </div>
              <div class="col-md-6 testi-main">
                <div class="testi-grids row">
                  <div class="col-md-9 col-sm-9 col-xs-9 clients-info-text">
                    <h6>felis mattis</h6>
                    <p>
                      Lorem ipsum dolor sit amet.Cras rutrum iaculis enim, non
                      yallis.
                    </p>
                    <h5>Mercurio</h5>
                  </div>
                  <div class="col-md-3 col-sm-3 col-xs-3 img-testi">
                    <img
                      class="img-fluid"
                      src="assets/images/team3.jpg"
                      alt=""
                    />
                  </div>
                </div>
              </div>
              <div class="col-md-6 testi-main">
                <div class="testi-grids t2 row">
                  <div class="col-md-3 col-sm-3 col-xs-3 img-testi">
                    <img
                      class="img-fluid"
                      src="assets/images/team4.jpg"
                      alt=""
                    />
                  </div>
                  <div class="col-md-9 col-sm-9 col-xs-9 clients-info-text">
                    <h6>Cras rutrum</h6>
                    <p>
                      Lorem ipsum dolor sit amet. enim, non convallis felis
                      mattis.
                    </p>
                    <h5>Melissa Hoffman</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col-md-6 testi-main">
                <div class="testi-grids row">
                  <div class="col-md-9 col-sm-9 col-xs-9 clients-info-text">
                    <h6>Tìm kiếm rất dễ dàng!</h6>
                    <p>Tôi rất thích.s</p>
                    <h5>Melissa Hoffman</h5>
                  </div>
                  <div class="col-md-3 col-sm-3 col-xs-3 img-testi">
                    <img
                      class="img-fluid"
                      src="assets/images/team4.jpg"
                      alt=""
                    />
                  </div>
                </div>
              </div>
              <div class="col-md-6 testi-main">
                <div class="testi-grids t2 row">
                  <div class="col-md-3 col-sm-3 col-xs-3 img-testi">
                    <img
                      class="img-fluid"
                      src="assets/images/team3.jpg"
                      alt=""
                    />
                  </div>
                  <div class="col-md-9 col-sm-9 col-xs-9 clients-info-text">
                    <h6>Giao diện đẹp, dễ sử dụng!</h6>
                    <p>Happy!</p>
                    <h5>Daniele</h5>
                  </div>
                </div>
              </div>
              <div class="col-md-6 testi-main">
                <div class="testi-grids row">
                  <div class="col-md-9 col-sm-9 col-xs-9 clients-info-text">
                    <h6>So beautiful!!</h6>
                    <p>website is easy.</p>
                    <h5>Thomas Muller</h5>
                  </div>
                  <div class="col-md-3 col-sm-3 col-xs-3 img-testi">
                    <img
                      class="img-fluid"
                      src="assets/images/team2.jpg"
                      alt=""
                    />
                  </div>
                </div>
              </div>
              <div class="col-md-6 testi-main">
                <div class="testi-grids t2 row">
                  <div class="col-md-3 col-sm-3 col-xs-3 img-testi">
                    <img
                      class="img-fluid"
                      src="assets/images/team1.jpg"
                      alt=""
                    />
                  </div>
                  <div class="col-md-9 col-sm-9 col-xs-9 clients-info-text">
                    <h6>web rất dễ dùng!</h6>
                    <p>Đây là lần đầu tiên tôi tìm đến với QT-HR . Ths you..</p>
                    <h5>Jackson</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a
          class="carousel-control-prev test"
          href="#carouselExampleControls"
          role="button"
          data-slide="prev"
        >
          <span class="fas fa-long-arrow-alt-left"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a
          class="carousel-control-next test"
          href="#carouselExampleControls"
          role="button"
          data-slide="next"
        >
          <span class="fas fa-long-arrow-alt-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</section>
<!--//clients-->
