<!-- Banner -->
<header class="innner-page">
  <div class="container">
    <br />
    <h1>
      <i class="fa fa-angle-double-right" aria-hidden="true"></i> About Us
    </h1>
    <br />
    <hr style="border: 1px solid rgb(163, 161, 161)" />
  </div>
</header>
<!-- About Us -->
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <img
          src="../../../assets/images/images/QT-HR.png"
          alt="logo"
          style="height: 150px; width: 200px; margin-left: 40%"
        />

        <h2 class="section-heading text-center text-highlight">
          QT-HR nền tảng tuyển dụng hàng đầu Việt Nam
        </h2>
        <br /><br /><br />
        <div class="konnect-space"></div>
      </div>
      <div class="col-md-8 col-xs-12">
        <h3><b class="text-highlight">Tuyển dụng trực tuyến</b></h3>
        <p>
          Nền tảng ứng dụng công nghệ cao, chủ động tìm & gợi ý ứng viên phù hợp
          từ 3,000,000 ứng viên (60% ứng viên có trên 2 năm kinh nghiệm).
        </p>
        <h3><b class="text-highlight">Trang tin việc làm chất lượng cao</b></h3>
        <p>
          Kênh tìm việc chất lượng, uy tín hàng đầu Việt Nam với 20,000+ việc
          làm được cập nhật mỗi ngày từ 40,000+ doanh nghiệp đã được xác thực.
        </p>
        <h3><b class="text-highlight">Tìm việc thông minh</b></h3>
        <p>
          Ứng dụng tự động gợi ý công việc phù hợp với nhu cầu của ứng viên.
          Tích hợp tính năng Profile Online giúp người tìm việc xây dựng thương
          hiệu cá nhân và định hướng nghề nghiệp.
        </p>
        <h3><b class="text-highlight">Công cụ tạo CV</b></h3>
        <p>
          Công cụ tạo CV online số 1 Việt Nam giúp người tìm việc tăng 80% thành
          công. 80% CV gửi đến nhà tuyển dụng hiện nay
        </p>

        <ul class="konnect-list">
          <li>Recruitment</li>
          <li>Consulting</li>
          <li>US Staffing</li>
          <li>Training</li>
          <li>ERP Solutions</li>
        </ul>
      </div>

      <div class="col-md-4 text-center col-xs-12 img-shadow">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR25BBfJQ_bwVfSkHd_VXKf03DSZT0N2LYMPw&usqp=CAU"
          width="150"
          alt="about us"
        />
        <h2 class="text-dark margin-top-20">
          <strong>15+</strong> year experience
        </h2>
      </div>
    </div>
  </div>
  <!-- --------su menh-- -->
  <div class="container">
    <div id="su-menh">
      <div class="seperator"></div>
      <br />
      <h2
        class="section-heading text-dark"
        style="
          text-align: center;
          font-size: 35px;
          font-weight: bolder;
          margin-top: -20px;
        "
      >
        Về chúng tôi
      </h2>
      <br /><br />
      <div class="row">
        <div class="col-md-5 col-xs-12">
          <div class="text">
            <h3><b class="text-highlight">Tầm nhìn</b></h3>
            <p>
              Trở thành đơn vị cung cấp dịch vụ Kết nối nhân sự và Phát triển
              nghề nghiệp hàng đầu tại Việt Nam.
            </p>
            <br />
            <h3><b class="text-highlight">Sứ mệnh</b></h3>
            <p>
              Mang đến những cơ hội nghề nghiệp tốt nhất cho người Việt trẻ.
            </p>
            <br />
            <h3><b class="text-highlight">Giá trị cốt lõi</b></h3>
            <p>
              Luôn chủ động và sáng tạo, lấy công nghệ làm nền tảng cốt lõi để
              phát triển dịch vụ. Chuyên nghiệp &amp; tận tâm với Khách hàng.
            </p>
          </div>
        </div>
        <div class="col-md-6 col-md-offset-1 hidden-sm hidden-xs">
          <img
            src="https://www.topcv.vn/intro-topcv/images/su_menh_2.png"
            alt=""
            style="width: 100%"
          />
        </div>
      </div>
    </div>
  </div>

  <!-- -------------------------------- -->
</section>
<!-- ------------------------- -->

<section class="doitac-section" style="margin-top: 20px">
  <div id="doi-tac">
    <div class="container">
      <br />
      <div class="seperator"></div>
      <h2
        class="section-heading text-black"
        style="
          text-align: center;
          font-size: 35px;
          font-weight: bolder;
          margin-bottom: 40px;
        "
      >
        Đối tác của QT-HR
      </h2>
      <br />
      <div class="partner-group">
        <h3 style="font-size: 20px; margin-bottom: 50px">
          Doanh nghiệp tiêu biểu
        </h3>
        <div class="partner-list row">
          <div class="col-md-2 col-sm-4 col-xs-6 partner-img">
            <img
              src="https://www.topcv.vn/intro-topcv/images/logo/manulife.png"
              alt=""
            />
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6 partner-img">
            <img
              src="https://www.topcv.vn/intro-topcv/images/logo/flc.png"
              alt=""
            />
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6 partner-img">
            <img
              src="https://www.topcv.vn/intro-topcv/images/logo/fpt-software.png"
              alt=""
            />
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6 partner-img">
            <img
              src="https://www.topcv.vn/intro-topcv/images/logo/tiki.png"
              alt=""
            />
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6 partner-img">
            <img
              src="https://www.topcv.vn/intro-topcv/images/logo/viettel.png"
              alt=""
            />
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6 partner-img">
            <img
              src="https://www.topcv.vn/intro-topcv/images/logo/techcombank.png"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
