<!--Nha tuyen dung-->
<div class="container">
  <div class="row service" id="contact">
    <h3 style="font-weight: bold; font-size: 30px">
      Hotline Tư vấn Dịch vụ Tuyển dụng
    </h3>
    <hr
      style="
        border: 3px solid black;
        width: 35px;
        margin-top: 70px;
        margin-left: -580px;
      "
    />
    <div class="col-md-4" style="margin-top: 105px; margin-left: -50px">
      <h4 style="font-size: medium; font-weight: bold">
        <i class="fa fa-phone"></i> Hotline Tư vấn Tuyển dụng miền Bắc
      </h4>
      <p><span style="color: red">0966 391 705</span> - Ms. Mai Linh</p>
      <p><span style="color: red">0941 768 699</span> - Ms. Nguyễn Nhung</p>
      <p><span style="color: red">0982 396 882</span> - Ms. Trần Thúy</p>
      <p><span style="color: red">0984 259 428</span> - Ms. Lan Hương</p>
      <p><span style="color: red">0988 691 396</span> - Ms. Ngọc Huyền</p>
      <p><span style="color: red">0786 121 995</span> - Ms. Trần Thảo</p>
      <p><span style="color: red">097 764 86 23</span> - Ms. Nguyễn Yến</p>
      <p><span style="color: red">0987 044 523</span> - Ms. Nguyễn Giang</p>
      <p><span style="color: red">033 309 7718</span> - Ms. Thu Thủy</p>
    </div>
    <div class="col-md-4" style="margin-top: 105px">
      <h4 style="font-size: medium; font-weight: bold">
        <i class="fa fa-phone"></i> Hotline Tư vấn Tuyển dụng miền Nam
      </h4>
      <p><span style="color: red">0972 665 767</span> - Mr. Khánh Duy</p>
      <p><span style="color: red">0966 560 113</span> - Ms. Thái Châu</p>
      <p><span style="color: red">0377 857 880</span> - Ms. Khánh Vân</p>
      <p><span style="color: red">039 8181 481</span> - Ms. Lan Chi</p>
      <p><span style="color: red">077 372 5215 </span> - Ms. Minh Thu</p>
      <p><span style="color: red">097 336 4630</span> - Ms. Minh Uyên</p>
    </div>
    <div class="col-md-4" style="margin-top: 105px">
      <h4 style="font-size: medium; font-weight: bold">
        <i class="fa fa-phone"></i> CSKH &amp; Khiếu nại dịch vụ
      </h4>
      <p>Hotline CSKH: <span style="color: red">(024) 7107 9799</span></p>
      <p style="padding-left: 118px; color: red">0862 69 19 29</p>
    </div>
  </div>
</div>

<!--Nguoi tim viec-->
<div class="container" style="margin-top: 40px">
  <div class="row service" id="contact">
    <h3 style="font-weight: bold; font-size: 30px">
      Hotline Tư vấn Cho Người Tìm Việc
    </h3>
    <hr
      style="
        border: 3px solid black;
        width: 35px;
        margin-top: 70px;
        margin-left: -580px;
      "
    />
    <div class="col-md-4" style="margin-top: 105px; margin-left: -50px">
      <h4 style="font-size: medium; font-weight: bold">
        <i class="fa fa-phone"></i> Hotline Tư vấn Tìm Việc miền Bắc
      </h4>
      <p><span style="color: red">0966 391 705</span> - Ms. Mai Linh</p>
      <p><span style="color: red">0941 768 699</span> - Ms. Nguyễn Nhung</p>
    </div>
    <div class="col-md-4" style="margin-top: 105px">
      <h4 style="font-size: medium; font-weight: bold">
        <i class="fa fa-phone"></i> Hotline Tư vấn Tìm Việc miền Nam
      </h4>
      <p><span style="color: red">0972 665 767</span> - Mr. Khánh Duy</p>
    </div>
  </div>
</div>

<hr style="border: 1px solid rgb(202, 198, 198)" />
<iframe
  class="container"
  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3834.571499676945!2d108.18037821480743!3d16.03580658890162!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31421970e67d568d%3A0x4d5004563ed95051!2zMTg4IEzDqiBUcuG7jW5nIFThuqVuLCBIb8OgIFBow6F0LCBD4bqpbSBM4buHLCDEkMOgIE7hurVuZywgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1601280510040!5m2!1svi!2s"
  width="600"
  height="450"
  frameborder="0"
  style="border: 0; margin-left: 90px; margin-top: 40px"
  allowfullscreen=""
  aria-hidden="false"
  tabindex="0"
></iframe>
<br /><br />
<hr style="border: 1px solid rgb(202, 198, 198)" />
<br />
<div class="container">
  <p>
    <strong
      >Để biết thêm thông tin về
      <strong class="text-danger">QT-HR</strong>
      xin liên hệ
    </strong>
  </p>
  <div class="no-grid-form" style="margin-right: 150px">
    <p class="text-right">
      Những chữ có <strong class="text-danger">màu đỏ</strong> là bắt buộc.
    </p>

    <form
      id="contact-form"
      class="form-horizontal"
      name="frmForm"
      action="/vi/contact"
      method="post"
      novalidate="novalidate"
    >
      <div class="form-group">
        <label
          for="contact_name"
          class="required control-label col-sm-3"
          aria-required="true"
          >Tên của bạn</label
        >

        <div class="col-sm-9">
          <input
            type="text"
            id="contact_name"
            name="contact[name]"
            required="required"
            data-msg-required="Vui lòng nhập tên của bạn"
            class="form-control"
            aria-required="true"
          />

          <div class="error-block"></div>
        </div>
      </div>

      <div class="form-group">
        <label for="contact_company" class="control-label col-sm-3"
          >Công ty</label
        >

        <div class="col-sm-9">
          <input
            type="text"
            id="contact_company"
            name="contact[company]"
            class="form-control"
          />

          <div class="error-block"></div>
        </div>
      </div>

      <div class="form-group">
        <label for="contact_address" class="control-label col-sm-3"
          >Địa chỉ</label
        >

        <div class="col-sm-9">
          <input
            type="text"
            id="contact_address"
            name="contact[address]"
            class="form-control"
          />

          <div class="error-block"></div>
        </div>
      </div>

      <div class="form-group">
        <label for="contact_phone" class="control-label col-sm-3"
          >Điện thoại</label
        >

        <div class="col-sm-9">
          <input
            type="text"
            id="contact_phone"
            name="contact[phone]"
            class="form-control"
          />

          <div class="error-block"></div>
        </div>
      </div>

      <div class="form-group">
        <label
          for="contact_email"
          class="required control-label col-sm-3"
          aria-required="true"
          >E-Mail</label
        >

        <div class="col-sm-9">
          <input
            type="email"
            id="contact_email"
            name="contact[email]"
            required="required"
            data-msg-required="Vui lòng nhập Email"
            data-msg-email="Email của bạn không đúng. Vui lòng nhập lại"
            class="form-control"
            aria-required="true"
          />

          <div class="error-block"></div>
        </div>
      </div>

      <div class="form-group">
        <label
          for="contact_message"
          class="required control-label col-sm-3"
          aria-required="true"
          >Tin nhắn</label
        >

        <div class="col-sm-9">
          <textarea
            id="contact_message"
            name="contact[message]"
            required="required"
            data-msg-required="Vui lòng nhập tin nhắn"
            wrap="virtual"
            rows="6"
            cols="50"
            class="form-control"
            aria-required="true"
          ></textarea>

          <div class="error-block"></div>
        </div>
      </div>

      <div
        class="form-group form-btn-container"
        style="margin-bottom: 70px; width: 220px; margin-left: 175px"
      >
        <div class="col-sm-9 col-sm-offset-3">
          <input
            class="btn btn-primary"
            type="submit"
            name="btnSubmit"
            value="Chấp nhận"
          />
        </div>
      </div>
      <input
        type="hidden"
        id="contact__token"
        name="contact[_token]"
        class="form-control"
        value="EOE088o2xVog7-OMc7z67N66RNipZUpacb6BLr2jRDM"
      />
    </form>
  </div>
</div>
