<app-nav></app-nav>

<div class="container-fluid" style="margin-top: 35px;">
  <router-outlet ></router-outlet>
</div>
<app-footer></app-footer>

<!-- Ring phone -->
<div class="wrapper">
  <div class="ring">
    <div class="coccoc-alo-phone coccoc-alo-green coccoc-alo-show">
      <div class="coccoc-alo-ph-circle"></div>
      <div class="coccoc-alo-ph-circle-fill"></div>
      <div class="coccoc-alo-ph-img-circle"><div class="image"></div></div>
    </div>
  </div>
</div>

<!-- back top -->
<div id="back-top"> <a href="#"> <img src="../assets/images/icons/icons8-up-squared-30.png" ></a> </div>
