<button (click)="logout()" *ngIf="authService.user | async" class="btn btn-lg btn-primary btn-block mb-1">
  Logout
</button>

<div class="row" *ngIf="authService.user | async">
  <div class="col-md-12">
    <div class="media">
      <!--                    <img class="align-self-start mr-5 img-thumbnail rounded-circle" src="{{(user.photoURL) ? user.photoURL : '/assets/dummy-user.png'}}"-->
      <!--                         alt="{{user.displayName}}">-->
      <div class="media-body">
        <h1>Hello: <strong>{{ (authService.user | async)?.displayName }}!</strong></h1>
        <p>User ID: <strong>{{ (authService.user | async)?.uid }}!</strong></p>
        <p>Email: <strong>{{ (authService.user | async)?.email }}!</strong></p>
        <p>Email Verified: <strong>{{ (authService.user | async)?.emailVerified }}!</strong></p>
      </div>
    </div>
  </div>
</div>
