<body>
  <div id="services">
    <div class="container">
      <div class="text-center" style="margin-top: 5px">
        <a
          href="https://business.topcv.vn/sinh-nhat-6-tuoi-topcv/"
          target="_blank"
        >
          <img
            class="img-responsive"
            src="https://tuyendung.topcv.vn/v2/banner_sn_2020/Banner_tuyendung_topcv_vn_update.png"
            alt=""
          />
        </a>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <h4 class="block-title">Tại sao doanh nghiệp chọn QT-HR</h4>
        </div>
      </div>
      <div class="row" style="margin-left: 60px;">
        <div class="stat col-md-3 col-sm-6">
          <div class="number">3,000,000</div>
          <div class="title">Lượt ứng viên truy cập hàng tháng</div>
        </div>
        <div class="stat col-md-3 col-sm-6">
          <div class="number">70%</div>
          <div class="title">1+ năm kinh nghiệm</div>
        </div>
        <div class="stat col-md-3 col-sm-6" style="margin-left: -30px;">
          <div class="number">30%</div>
          <div class="title">Sinh viên mới tốt nghiệp</div>
        </div>
        <div class="stat col-md-3 col-sm-6" style="margin-left: -40px;">
          <div class="number">95%</div>
          <div class="title">Chủ động tìm việc</div>
        </div>
      </div>
      <div class="row service">
        <div class="col-md-6">
          <img
            src="https://tuyendung.topcv.vn/images/search.png"
            alt=""
            class="img-responsive"
          />
        </div>
        <div class="col-md-6">
          <h3>Tìm kiếm Ứng viên thông minh</h3>
          <p>
            - <strong>Hồ sơ người tìm việc</strong> cập nhật liên tục theo từng
            phút.<br />
            - Hỗ trợ nhà tuyển dụng tìm kiếm ứng viên theo Quận/Huyện của Hà
            Nội, Hồ Chí Minh.<br />
            - CV tại QT-HR có kèm theo link Facebook, giúp NTD khai thác được
            nhiều thông tin hơn về ứng viên.<br />
            - Dễ dàng tìm kiếm ứng viên theo từng công ty đã làm.<br />
          </p>
          <a href="/register" class="btn btn-success">Đăng ký ngay</a>
        </div>
      </div>
      <div class="row service">
        <div class="col-md-6">
          <h3>Đăng tin Tuyển dụng Miễn phí</h3>
          <p>
            - Tặng ngay 3 tin tuyển dụng miễn phí.<br />
            - Tiếp cận với 3,000,000+ ứng viên.<br />- Đăng tin dễ dàng, không
            quá 1 phút.
          </p>
          <a href="/register" class="btn btn-success">Đăng ký ngay</a>
        </div>
        <div class="col-md-6">
          <img
            src="https://tuyendung.topcv.vn/images/feature.jpg"
            alt=""
            class="img-responsive"
          />
        </div>
      </div>
    </div>
  </div>
  <div id="feedback"></div>


  <hr />
  <section class="doitac-section" style="margin-top: 20px">
    <div id="doi-tac">
      <div class="container">
        <br />
        <div class="seperator"></div>
        <h2
          class="section-heading text-black"
          style="
            text-align: center;
            font-size: 35px;
            font-weight: bolder;
            margin-bottom: 40px;
          "
        >
          Truyền thông nói về QT-HR
        </h2>
        <br />
        <div class="partner-group">
          <div class="partner-list row">
            <div class="col-md-2 col-sm-4 col-xs-6 partner-img">
              <img
                src="https://tuyendung.topcv.vn/images/press/genk.png"
                alt=""
                style="margin-top: -20px; height: 35px; margin-left: 20px;"
              />
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 partner-img">
              <img
                src="https://tuyendung.topcv.vn/images/press/cafebiz.png"
                alt=""
                style="margin-top: -30px;  margin-left: 50px;"
              />
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 partner-img">
              <img
                src="https://tuyendung.topcv.vn/images/press/vtc10.png"
                alt=""
                style="margin-top: -40px;  margin-left: 90px;"
              />
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 partner-img">
              <img
                src="https://tuyendung.topcv.vn/images/press/vtv1.png"
                alt=""
                style="margin-top: -35px;  margin-left: 120px;"
              />
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 partner-img">
              <img
                src="https://tuyendung.topcv.vn/images/press/vtv2.png"
                alt=""
                style="margin-top: -30px; margin-left: 150px;"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
