<div class="container pt-3" style="margin-bottom: 50px">
  <div class="row justify-content-sm-center">
    <div class="col-sm-10 col-md-6">
      <div class="card border-info">
        <div class="card-header">Login</div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4 text-center">
              <img src="https://placeimg.com/128/128/nature"/>
            </div>
            <div class="col-md-8">
              <div *ngIf="!(authService.user | async)">
                <input
                  [(ngModel)]="email"
                  type="text"
                  class="form-control mb-2"
                  placeholder="Email"
                  required
                  autofocus
                />
                <input
                  [(ngModel)]="password"
                  type="password"
                  class="form-control mb-2"
                  placeholder="Password"
                  required
                />
                <button
                  (click)="login()"
                  [disabled]="!email || !password"
                  class="btn btn-lg btn-primary btn-block mb-1"
                  type="submit"
                >
                  Login
                </button>
                <hr>
                <p style="text-align:center">Other</p>
                <div class="form-group">
                  <button type="buton" class="btn btn-outline-info btn-block mb-1" (click)="signInWithFacebook()">
                    <i class="fab fa-facebook-square"></i>
                    Login with Facebook
                  </button>
                  <div class="form-group">
                    <button type="buton" class="btn btn-outline-danger btn-block mb-1" (click)="signInWithGoogle()">
                      <i class="fab fa-google"></i>
                      Login with Facebook
                    </button>
                    <div class="signup">
                      Do not have an account?
                      <a href="/admin/register">Signup now</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
