<div class="heading">
  <div class="container">
    <h1 class="suggest-title text-center">
      Danh sách mẫu CV xin việc hay nhất cho bạn
    </h1>
    <p class="text-center" style="color: black">
      Tạo ấn tượng với nhà tuyển dụng bằng mẫu CV xin việc được thiết kế chuẩn
      QT-HR giúp tạo CV online đẹp, chuyên nghiệp
    </p>
  </div>
</div>

<div id="template-container">
  <div class="container">
    <div id="template-list">
      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 template_cv">
          <div class="cv-img">
            <a href="https://www.topcv.vn/mau-cv-tieng-viet/default" class="">
              <img
                src="https://www.topcv.vn/images/cv/screenshots/thumbs/vi/optimize/mau-cv-default.jpg"
                alt="Mẫu CV tiếng Việt - Tiêu Chuẩn"
                title="Mẫu CV tiếng Việt - Tiêu Chuẩn"
                width="450"
                height="500"
                class="img-responsive"
              />
            </a>
            <div class="cv-overlay">
              <a
                href="/createCV"
                class=""
                data-template="default"
                data-title="Tiêu Chuẩn"
              >
                <span> <i class="fa fa-check"></i> Dùng mẫu này </span>
                <p>
                  Mẫu CV tiêu chuẩn phù hợp với nhiều ngành nghề, dễ sử dụng
                </p>
              </a>
            </div>
            <div class="clearfix"></div>
          </div>
          <p class="cv-title">
            <a href="createCV" title="Mẫu CV tiếng Việt Tiêu Chuẩn"
              >Mẫu CV Tiêu Chuẩn</a
            >
            <span class="label label-info">Miễn phí</span>
          </p>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 template_cv">
          <div class="cv-img">
            <a href="createCV" class="">
              <img
                src="https://www.topcv.vn/images/cv/screenshots/thumbs/vi/optimize/mau-cv-senior.jpg"
                alt="Mẫu CV tiếng Việt - Senior"
                title="Mẫu CV tiếng Việt - Senior"
                width="450"
                height="500"
                class="img-responsive"
              />
            </a>
            <div class="cv-overlay">
              <a
                href="createCV"
                class=""
                data-template="senior"
                data-title="Senior"
              >
                <span> <i class="fa fa-check"></i> Dùng mẫu này </span>
                <p>
                  Mẫu CV được thiết kế đặc trưng cho những ứng viên nhiều năm
                  kinh nghiệm
                </p>
              </a>
            </div>
            <div class="clearfix"></div>
          </div>
          <p class="cv-title">
            <a href="createCV" title="Mẫu CV tiếng Việt Senior"
              >Mẫu CV Senior</a
            >
            <span class="label label-info">Miễn phí</span>
          </p>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 template_cv">
          <div class="cv-img">
            <a href="createCV" class="">
              <img
                src="https://www.topcv.vn/images/cv/screenshots/thumbs/vi/optimize/mau-cv-onepage_impressive_2.jpg"
                alt="Mẫu CV tiếng Việt - Ấn Tượng 2"
                title="Mẫu CV tiếng Việt - Ấn Tượng 2"
                width="450"
                height="500"
                class="img-responsive"
              />
            </a>
            <div class="cv-overlay">
              <a
                href="createCV"
                class=""
                data-template="onepage_impressive_2"
                data-title="Ấn Tượng 2"
              >
                <span> <i class="fa fa-check"></i> Dùng mẫu này </span>
                <p>
                  Mẫu CV một trang thiết kế hiện đại, cao cấp, sử dụng đưọc cho
                  nhiều ngành nghề
                </p>
              </a>
            </div>
            <div class="clearfix"></div>
          </div>
          <p class="cv-title">
            <a href="createCV" title="Mẫu CV tiếng Việt Ấn Tượng 2"
              >Mẫu CV Ấn Tượng 2</a
            >
            <span class="label label-info">Miễn phí</span>
          </p>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 template_cv">
          <div class="cv-img">
            <a href="createCV" class="">
              <img
                src="https://www.topcv.vn/images/cv/screenshots/thumbs/vi/optimize/mau-cv-onepage_impressive.jpg"
                alt="Mẫu CV tiếng Việt - Ấn Tượng"
                title="Mẫu CV tiếng Việt - Ấn Tượng"
                width="450"
                height="500"
                class="img-responsive"
              />
            </a>
            <div class="cv-overlay">
              <a
                href="createCV"
                class=""
                data-template="onepage_impressive"
                data-title="Ấn Tượng"
              >
                <span> <i class="fa fa-check"></i> Dùng mẫu này </span>
                <p>
                  Mẫu CV một trang theo phong cách hiện đại ấn tượng sử dụng
                  được cho nhiều ngành nghề
                </p>
              </a>
            </div>
            <div class="clearfix"></div>
          </div>
          <p class="cv-title">
            <a href="createCV" title="Mẫu CV tiếng Việt Ấn Tượng"
              >Mẫu CV Ấn Tượng</a
            >
            <span class="label label-info">Miễn phí</span>
          </p>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 template_cv">
          <div class="cv-img">
            <a href="createCV" class="">
              <img
                src="https://www.topcv.vn/images/cv/screenshots/thumbs/vi/optimize/mau-cv-timeline_clean.jpg"
                alt="Mẫu CV tiếng Việt - Dòng Thời Gian"
                title="Mẫu CV tiếng Việt - Dòng Thời Gian"
                width="450"
                height="500"
                class="img-responsive"
              />
            </a>
            <div class="cv-overlay">
              <a
                href="createCV"
                class=""
                data-template="timeline_clean"
                data-title="Dòng Thời Gian"
              >
                <span> <i class="fa fa-check"></i> Dùng mẫu này </span>
                <p>
                  Mẫu CV thể hiện kinh nghiệm làm việc của bạn theo dòng thời
                  gian, ấn tượng, sử dụng được cho nhiều ngành nghề
                </p>
              </a>
            </div>
            <div class="clearfix"></div>
          </div>
          <p class="cv-title">
            <a href="createCV" title="Mẫu CV tiếng Việt Dòng Thời Gian"
              >Mẫu CV Dòng Thời Gian</a
            >
            <span class="label label-info">Miễn phí</span>
          </p>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 template_cv">
          <div class="cv-img">
            <a href="createCV" class="">
              <img
                src="https://www.topcv.vn/images/cv/screenshots/thumbs/vi/optimize/mau-cv-pro_1.jpg"
                alt="Mẫu CV tiếng Việt - Chuyên Nghiệp 1"
                title="Mẫu CV tiếng Việt - Chuyên Nghiệp 1"
                width="450"
                height="500"
                class="img-responsive"
              />
            </a>
            <div class="cv-overlay">
              <a
                href="createCV"
                class=""
                data-template="pro_1"
                data-title="Chuyên Nghiệp 1"
              >
                <span> <i class="fa fa-check"></i> Dùng mẫu này </span>
                <p>
                  Mẫu CV thiết kế tập chuyên nghiệp, tập trung vào hình ảnh của
                  ứng viên, phù hợp với các vị trí yêu cầu ngoại hình
                </p>
              </a>
            </div>
            <div class="clearfix"></div>
          </div>
          <p class="cv-title">
            <a href="createCV" title="Mẫu CV tiếng Việt Chuyên Nghiệp 1"
              >Mẫu CV Chuyên Nghiệp 1</a
            >
            <span class="label label-info">Miễn phí</span>
          </p>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 template_cv">
          <div class="cv-img">
            <a href="createCV" class="">
              <img
                src="https://www.topcv.vn/images/cv/screenshots/thumbs/vi/optimize/mau-cv-onepage_elegant.jpg"
                alt="Mẫu CV tiếng Việt - Thanh Lịch"
                title="Mẫu CV tiếng Việt - Thanh Lịch"
                width="450"
                height="500"
                class="img-responsive"
              />
            </a>
            <div class="cv-overlay">
              <a
                href="createCV"
                class=""
                data-template="onepage_elegant"
                data-title="Thanh Lịch"
              >
                <span> <i class="fa fa-check"></i> Dùng mẫu này </span>
                <p>Mẫu CV thiết kế Thanh Lịch phù hợp với nhiều ngành nghề</p>
              </a>
            </div>
            <div class="clearfix"></div>
          </div>
          <p class="cv-title">
            <a href="createCV" title="Mẫu CV tiếng Việt Thanh Lịch"
              >Mẫu CV Thanh Lịch</a
            >
            <span class="label label-info">Miễn phí</span>
          </p>
        </div>

        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 template_cv">
          <div class="cv-img">
            <a href="createCV" class="">
              <img
                src="https://www.topcv.vn/images/cv/screenshots/thumbs/vi/optimize/mau-cv-modern_4.jpg"
                alt="Mẫu CV tiếng Việt - Hiện Đại 4"
                title="Mẫu CV tiếng Việt - Hiện Đại 4"
                width="450"
                height="500"
                class="img-responsive"
              />
            </a>
            <div class="cv-overlay">
              <a
                href="createCV"
                class=""
                data-template="modern_4"
                data-title="Hiện Đại 4"
              >
                <span> <i class="fa fa-check"></i> Dùng mẫu này </span>
                <p>
                  Mẫu CV thiết kế hiện đại sử dụng đuợc cho nhiều ngành nghề
                </p>
              </a>
            </div>
            <div class="clearfix"></div>
          </div>
          <p class="cv-title">
            <a href="createCV" title="Mẫu CV tiếng Việt Hiện Đại 4"
              >Mẫu CV Hiện Đại 4</a
            >
            <span class="label label-info">Miễn phí</span>
          </p>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 template_cv">
          <div class="cv-img">
            <a href="createCV" class="">
              <img
                src="https://www.topcv.vn/images/cv/screenshots/thumbs/vi/optimize/mau-cv-premium.jpg"
                alt="Mẫu CV tiếng Việt - Cao Cấp"
                title="Mẫu CV tiếng Việt - Cao Cấp"
                width="450"
                height="500"
                class="img-responsive"
              />
            </a>
            <div class="cv-overlay">
              <a
                href="createCV"
                class=""
                data-template="premium"
                data-title="Cao Cấp"
              >
                <span> <i class="fa fa-check"></i> Dùng mẫu này </span>
                <p>
                  Mẫu CV được thiết kế cao cấp, cá tính sử dụng cho nhiều ngành
                  nghề
                </p>
              </a>
            </div>
            <div class="clearfix"></div>
          </div>
          <p class="cv-title">
            <a href="createCV" title="Mẫu CV tiếng Việt Cao Cấp"
              >Mẫu CV Cao Cấp</a
            >
            <span class="label label-info">Miễn phí</span>
          </p>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 template_cv">
          <div class="cv-img">
            <a href="createCV" class="">
              <img
                src="https://www.topcv.vn/images/cv/screenshots/thumbs/vi/optimize/mau-cv-pro_3.jpg"
                alt="Mẫu CV tiếng Việt - Chuyên Nghiệp 3"
                title="Mẫu CV tiếng Việt - Chuyên Nghiệp 3"
                width="450"
                height="500"
                class="img-responsive"
              />
            </a>
            <div class="cv-overlay">
              <a
                href="createCV"
                class=""
                data-template="pro_3"
                data-title="Chuyên Nghiệp 3"
              >
                <span> <i class="fa fa-check"></i> Dùng mẫu này </span>
                <p>
                  Mẫu CV được thiết kế chuyên nghiệp, hiện đại, sử dụng được cho
                  nhiều ngành nghề
                </p>
              </a>
            </div>
            <div class="clearfix"></div>
          </div>
          <p class="cv-title">
            <a href="createCV" title="Mẫu CV tiếng Việt Chuyên Nghiệp 3"
              >Mẫu CV Chuyên Nghiệp 3</a
            >
            <span class="label label-info">Miễn phí</span>
          </p>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 template_cv">
          <div class="cv-img">
            <a href="createCV" class="">
              <img
                src="https://www.topcv.vn/images/cv/screenshots/thumbs/vi/optimize/mau-cv-impressive_3.jpg"
                alt="Mẫu CV tiếng Việt - Ấn Tượng 3"
                title="Mẫu CV tiếng Việt - Ấn Tượng 3"
                width="450"
                height="500"
                class="img-responsive"
              />
            </a>
            <div class="cv-overlay">
              <a
                href="createCV"
                class=""
                data-template="impressive_3"
                data-title="Ấn Tượng 3"
              >
                <span> <i class="fa fa-check"></i> Dùng mẫu này </span>
                <p>
                  Mẫu CV thiết kế ấn tượng, tươi sáng, sử dụng được cho nhiều
                  ngành nghề
                </p>
              </a>
            </div>
            <div class="clearfix"></div>
          </div>
          <p class="cv-title">
            <a href="createCV" title="Mẫu CV tiếng Việt Ấn Tượng 3"
              >Mẫu CV Ấn Tượng 3</a
            >
            <span class="label label-info">Miễn phí</span>
          </p>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 template_cv">
          <div class="cv-img">
            <a href="createCV" class="">
              <img
                src="https://www.topcv.vn/images/cv/screenshots/thumbs/vi/optimize/mau-cv-onepage_classic.jpg"
                alt="Mẫu CV tiếng Việt - Một Trang Cổ Điển"
                title="Mẫu CV tiếng Việt - Một Trang Cổ Điển"
                width="450"
                height="500"
                class="img-responsive"
              />
            </a>
            <div class="cv-overlay">
              <a
                href="createCV"
                class=""
                data-template="onepage_classic"
                data-title="Một Trang Cổ Điển"
              >
                <span> <i class="fa fa-check"></i> Dùng mẫu này </span>
                <p>
                  Mẫu CV được thiết kế theo phong cách cổ điển kết hợp với hiện
                  đại, phù hợp với nhiều ngành nghề
                </p>
              </a>
            </div>
            <div class="clearfix"></div>
          </div>
          <p class="cv-title">
            <a href="createCV" title="Mẫu CV tiếng Việt Một Trang Cổ Điển"
              >Mẫu CV Một Trang Cổ Điển</a
            >
            <span class="label label-info">Miễn phí</span>
          </p>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 template_cv">
          <div class="cv-img">
            <a href="createCV" class="">
              <img
                src="https://www.topcv.vn/images/cv/screenshots/thumbs/vi/optimize/mau-cv-modern_1.jpg"
                alt="Mẫu CV tiếng Việt - Hiện Đại 1"
                title="Mẫu CV tiếng Việt - Hiện Đại 1"
                width="450"
                height="500"
                class="img-responsive"
              />
            </a>
            <div class="cv-overlay">
              <a
                href="createCV"
                class=""
                data-template="modern_1"
                data-title="Hiện Đại 1"
              >
                <span> <i class="fa fa-check"></i> Dùng mẫu này </span>
                <p>
                  Mẫu CV thiết kế hiện đại sử dụng đuợc cho nhiều ngành nghề
                </p>
              </a>
            </div>
            <div class="clearfix"></div>
          </div>
          <p class="cv-title">
            <a href="createCV" title="Mẫu CV tiếng Việt Hiện Đại 1"
              >Mẫu CV Hiện Đại 1</a
            >
            <span class="label label-info">Miễn phí</span>
          </p>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 template_cv">
          <div class="cv-img">
            <a href="createCV" class="">
              <img
                src="https://www.topcv.vn/images/cv/screenshots/thumbs/vi/optimize/mau-cv-modern_2.jpg"
                alt="Mẫu CV tiếng Việt - Hiện Đại 2"
                title="Mẫu CV tiếng Việt - Hiện Đại 2"
                width="450"
                height="500"
                class="img-responsive"
              />
            </a>
            <div class="cv-overlay">
              <a
                href="createCV"
                class=""
                data-template="modern_2"
                data-title="Hiện Đại 2"
              >
                <span> <i class="fa fa-check"></i> Dùng mẫu này </span>
                <p>
                  Mẫu CV thiết kế hiện đại tập trung nhiều hơn vào lối thiết kế
                  đơn giản, sử dụng được cho nhiều ngành nghề
                </p>
              </a>
            </div>
            <div class="clearfix"></div>
          </div>
          <p class="cv-title">
            <a href="createCV" title="Mẫu CV tiếng Việt Hiện Đại 2"
              >Mẫu CV Hiện Đại 2</a
            >
            <span class="label label-info">Miễn phí</span>
          </p>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 template_cv">
          <div class="cv-img">
            <a href="createCV" class="">
              <img
                src="https://www.topcv.vn/images/cv/screenshots/thumbs/vi/optimize/mau-cv-modern_3.jpg"
                alt="Mẫu CV tiếng Việt - Hiện Đại 3"
                title="Mẫu CV tiếng Việt - Hiện Đại 3"
                width="450"
                height="500"
                class="img-responsive"
              />
            </a>
            <div class="cv-overlay">
              <a
                href="createCV"
                class=""
                data-template="modern_3"
                data-title="Hiện Đại 3"
              >
                <span> <i class="fa fa-check"></i> Dùng mẫu này </span>
                <p>
                  Mẫu CV thiết kế hiện đại sử dụng đuợc cho nhiều ngành nghề
                </p>
              </a>
            </div>
            <div class="clearfix"></div>
          </div>
          <p class="cv-title">
            <a href="createCV" title="Mẫu CV tiếng Việt Hiện Đại 3"
              >Mẫu CV Hiện Đại 3</a
            >
            <span class="label label-info">Miễn phí</span>
          </p>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 template_cv">
          <div class="cv-img">
            <a href="createCV" class="">
              <img
                src="https://www.topcv.vn/images/cv/screenshots/thumbs/vi/optimize/mau-cv-dev_1.jpg"
                alt="Mẫu CV tiếng Việt - Lập Trình Viên"
                title="Mẫu CV tiếng Việt - Lập Trình Viên"
                width="450"
                height="500"
                class="img-responsive"
              />
            </a>
            <div class="cv-overlay">
              <a
                href=""
                class=""
                data-template="dev_1"
                data-title="Lập Trình Viên"
              >
                <span> <i class="fa fa-check"></i> Dùng mẫu này </span>
                <p>Mẫu CV được thiết kế đặc trưng cho ứng viên ngành IT</p>
              </a>
            </div>
            <div class="clearfix"></div>
          </div>
          <p class="cv-title">
            <a href="createCV" title="Mẫu CV tiếng Việt Lập Trình Viên"
              >Mẫu CV Lập Trình Viên</a
            >
            <span class="label label-info">Miễn phí</span>
          </p>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 template_cv">
          <div class="cv-img">
            <a href="createCV" class="">
              <img
                src="https://www.topcv.vn/images/cv/screenshots/thumbs/vi/optimize/mau-cv-tiny_1.jpg"
                alt="Mẫu CV tiếng Việt - Sinh Viên"
                title="Mẫu CV tiếng Việt - Sinh Viên"
                width="450"
                height="500"
                class="img-responsive"
              />
            </a>
            <div class="cv-overlay">
              <a
                href="createCV"
                class=""
                data-template="tiny_1"
                data-title="Sinh Viên"
              >
                <span> <i class="fa fa-check"></i> Dùng mẫu này </span>
                <p>
                  Mẫu CV nhỏ gọn phù hợp với các bạn chưa có nhiều kinh nghiệm,
                  học sinh, sinh viên
                </p>
              </a>
            </div>
            <div class="clearfix"></div>
          </div>
          <p class="cv-title">
            <a href="createCV" title="Mẫu CV tiếng Việt Sinh Viên"
              >Mẫu CV Sinh Viên</a
            >
            <span class="label label-info">Miễn phí</span>
          </p>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 template_cv">
          <div class="cv-img">
            <a href="createCV" class="">
              <img
                src="https://www.topcv.vn/images/cv/screenshots/thumbs/vi/optimize/mau-cv-classic_1.jpg"
                alt="Mẫu CV tiếng Việt - Cổ Điển 1"
                title="Mẫu CV tiếng Việt - Cổ Điển 1"
                width="450"
                height="500"
                class="img-responsive"
              />
            </a>
            <div class="cv-overlay">
              <a
                href="createCV"
                class=""
                data-template="classic_1"
                data-title="Cổ Điển 1"
              >
                <span> <i class="fa fa-check"></i> Dùng mẫu này </span>
                <p>
                  Mẫu CV phong cách cổ điển phù hợp vời ứng viên nhiều kinh
                  nghiệm
                </p>
              </a>
            </div>
            <div class="clearfix"></div>
          </div>
          <p class="cv-title">
            <a href="createCV" title="Mẫu CV tiếng Việt Cổ Điển 1"
              >Mẫu CV Cổ Điển 1</a
            >
            <span class="label label-info">Miễn phí</span>
          </p>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 template_cv">
          <div class="cv-img">
            <a href="createCV" class="">
              <img
                src="https://www.topcv.vn/images/cv/screenshots/thumbs/vi/optimize/mau-cv-software_engineer.jpg"
                alt="Mẫu CV tiếng Việt - Kỹ Sư Phần Mềm"
                title="Mẫu CV tiếng Việt - Kỹ Sư Phần Mềm"
                width="450"
                height="500"
                class="img-responsive"
              />
            </a>
            <div class="cv-overlay">
              <a
                href="createCV"
                class=""
                data-template="software_engineer"
                data-title="Kỹ Sư Phần Mềm"
              >
                <span> <i class="fa fa-check"></i> Dùng mẫu này </span>
                <p>Mẫu CV tiêu chuẩn phù hợp với ứng viên ngành IT</p>
              </a>
            </div>
            <div class="clearfix"></div>
          </div>
          <p class="cv-title">
            <a href="createCV" title="Mẫu CV tiếng Việt Kỹ Sư Phần Mềm"
              >Mẫu CV Kỹ Sư Phần Mềm</a
            >
            <span class="label label-info">Miễn phí</span>
          </p>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 template_cv">
          <div class="cv-img">
            <a href="createCV" class="">
              <img
                src="https://www.topcv.vn/images/cv/screenshots/thumbs/vi/optimize/mau-cv-senior_2.jpg"
                alt="Mẫu CV tiếng Việt - Senior 2"
                title="Mẫu CV tiếng Việt - Senior 2"
                width="450"
                height="500"
                class="img-responsive"
              />
            </a>
            <div class="cv-overlay">
              <a
                href="createCV"
                class=""
                data-template="senior_2"
                data-title="Senior 2"
              >
                <span> <i class="fa fa-check"></i> Dùng mẫu này </span>
                <p>
                  Mẫu CV được thiết kế đặc trưng cho những ứng viên nhiều năm
                  kinh nghiệm
                </p>
              </a>
            </div>
            <div class="clearfix"></div>
          </div>
          <p class="cv-title">
            <a href="createCV" title="Mẫu CV tiếng Việt Senior 2"
              >Mẫu CV Senior 2</a
            >
            <span class="label label-info">Miễn phí</span>
          </p>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 template_cv">
          <div class="cv-img">
            <a href="createCV" class="require-premium">
              <img
                src="https://www.topcv.vn/images/cv/screenshots/thumbs/vi/optimize/mau-cv-pro_2.jpg"
                alt="Mẫu CV tiếng Việt - Chuyên Nghiệp 2"
                title="Mẫu CV tiếng Việt - Chuyên Nghiệp 2"
                width="450"
                height="500"
                class="img-responsive"
              />
            </a>
            <div class="cv-overlay">
              <a
                href="createCV"
                class="require-premium"
                data-template="pro_2"
                data-title="Chuyên Nghiệp 2"
              >
                <span> <i class="fa fa-check"></i> Dùng mẫu này </span>
                <p>
                  Mẫu CV thiết kế tập trung vào sự chuyên nghiệp và hiện đại, sử
                  dụng được cho nhiều ngành nghề
                </p>
              </a>
            </div>
            <div class="clearfix"></div>
          </div>
          <p class="cv-title">
            <a href="createCV" title="Mẫu CV tiếng Việt Chuyên Nghiệp 2"
              >Mẫu CV Chuyên Nghiệp 2</a
            >
            <span class="label label-danger">
              <i class="fa fa-star"></i>
              Cao cấp</span
            >
          </p>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 template_cv">
          <div class="cv-img">
            <a href="createCV" class="require-premium">
              <img
                src="https://www.topcv.vn/images/cv/screenshots/thumbs/vi/optimize/mau-cv-impressive_pro.jpg"
                alt="Mẫu CV tiếng Việt - Chuyên Nghiệp Ấn Tượng"
                title="Mẫu CV tiếng Việt - Chuyên Nghiệp Ấn Tượng"
                width="450"
                height="500"
                class="img-responsive"
              />
            </a>
            <div class="cv-overlay">
              <a
                href="createCV"
                class="require-pre mium"
                data-template="impressive_pro"
                data-title="Chuyên Nghiệp Ấn Tượng"
              >
                <span> <i class="fa fa-check"></i> Dùng mẫu này </span>
                <p>
                  Mẫu CV thiết kế chuyên nghiệp, ấn tượng, sử dụng được cho
                  nhiều ngành nghề
                </p>
              </a>
            </div>
            <div class="clearfix"></div>
          </div>
          <p class="cv-title">
            <a href="createCV" title="Mẫu CV tiếng Việt Chuyên Nghiệp Ấn Tượng"
              >Mẫu CV Chuyên Nghiệp Ấn Tượng</a
            >
            <span class="label label-danger">
              <i class="fa fa-star"></i>
              Cao cấp</span
            >
          </p>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 template_cv">
          <div class="cv-img">
            <a href="createCV" class="require-premium">
              <img
                src="https://www.topcv.vn/images/cv/screenshots/thumbs/vi/optimize/mau-cv-pro_4.jpg"
                alt="Mẫu CV tiếng Việt - Chuyên Nghiệp 4"
                title="Mẫu CV tiếng Việt - Chuyên Nghiệp 4"
                width="450"
                height="500"
                class="img-responsive"
              />
            </a>
            <div class="cv-overlay">
              <a
                href="createCV"
                class="require-premium"
                data-template="pro_4"
                data-title="Chuyên Nghiệp 4"
              >
                <span> <i class="fa fa-check"></i> Dùng mẫu này </span>
                <p>
                  Mẫu CV được thiết kế chuyên nghiệp, độc đáo sử dụng được cho
                  nhiều ngành nghề
                </p>
              </a>
            </div>
            <div class="clearfix"></div>
          </div>
          <p class="cv-title">
            <a href="createCV" title="Mẫu CV tiếng Việt Chuyên Nghiệp 4"
              >Mẫu CV Chuyên Nghiệp 4</a
            >
            <span class="label label-danger">
              <i class="fa fa-star"></i>
              Cao cấp</span
            >
          </p>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 template_cv">
          <div class="cv-img">
            <a href="createCV" class="require-premium">
              <img
                src="https://www.topcv.vn/images/cv/screenshots/thumbs/vi/optimize/mau-cv-pro_5.jpg"
                alt="Mẫu CV tiếng Việt - Chuyên Nghiệp 5"
                title="Mẫu CV tiếng Việt - Chuyên Nghiệp 5"
                width="450"
                height="500"
                class="img-responsive"
              />
            </a>
            <div class="cv-overlay">
              <a
                href="createCV"
                class="require-premium"
                data-template="pro_5"
                data-title="Chuyên Nghiệp 5"
              >
                <span> <i class="fa fa-check"></i> Dùng mẫu này </span>
                <p>
                  Mẫu CV được thiết kế chuyên nghiệp, độc đáo sử dụng được cho
                  nhiều ngành nghề
                </p>
              </a>
            </div>
            <div class="clearfix"></div>
          </div>
          <p class="cv-title">
            <a href="createCV" title="Mẫu CV tiếng Việt Chuyên Nghiệp 5"
              >Mẫu CV Chuyên Nghiệp 5</a
            >
            <span class="label label-danger">
              <i class="fa fa-star"></i>
              Cao cấp</span
            >
          </p>
        </div>
      </div>
    </div>
    <div class="box-text">
      <h2>
        Tạo CV online miễn phí với các mẫu CV được thiết kế sẵn chỉ với 2 bước:
      </h2>
      <ul>
        <li>
          Bước 1: Chọn mẫu CV miễn phí mà bạn ưng ý nhất và tiến hành viết CV.
        </li>
        <li>
          Bước 2: Sau khi hoàn thiện viết CV, bạn tiến hành lưu CV lại tải CV về
          dưới dạng PDF hoặc sử dụng link CV online để gửi cho nhà tuyển dụng.
        </li>
      </ul>
    </div>
    <div class="box-text">
      <h2>Tại sao nên tạo CV online trên QT-HR</h2>
      <ul>
        <li>
          Nhiều mẫu CV đẹp, miễn phí, phù hợp nhu cầu ứng tuyển các vị trí khác
          nhau.
        </li>
        <li>
          Tương tác trực quan, dễ dàng chỉnh sửa thông tin, tạo CV online nhanh
          chóng trong vòng 5 phút.
        </li>
        <li>
          Nhận gợi ý cách viết CV phù hợp cùng các mẫu CV tham khảo chi tiết
          theo ngành nghề.
        </li>
        <li>Mẫu CV đồng bộ với các mẫu thư xin việc (Cover Letter).</li>
        <li>Các mẫu CV hỗ trợ đa ngôn ngữ: tiếng Anh / Nhật / Việt.</li>
      </ul>
    </div>
    <div id="loader-overlay">
      <div class="loader ball-grid-pulse">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
</div>




