<div class="banner-info-w3layouts text-center">
  <h3 style="margin-bottom: 40px">
    <span style="color: black">BẠN MUỐN Có MỘT CÔNG VIỆC MƠ ƯỚC</span>
  </h3>
  <h3 class="tittle text-center mb-lg-4 mb-3">
    <span>Hãy để chúng tôi giúp bạn.</span>
  </h3>

  <form action="#" method="post" class="ban-form row">
    <div class="col-md-3 banf">
      <input
        style="border: 1px solid rgb(34, 33, 33); height: 50px"
        class="form-control"
        type="text"
        name="Name"
        placeholder="Name"
        required=""
      />
    </div>
    <div class="col-md-3 banf">
      <select
        class="form-control"
        id="country12"
        style="border: 1px solid rgb(34, 33, 33)"
      >
        <option>Location</option>
        <option>Da Nang</option>
        <option>Ho Chi Minh</option>
        <option>Ha Noi</option>
        <option>Tay Nguyen</option>
        <option>Hue</option>
        <option>Quy Nhon</option>
        <option>Quang Ngai</option>
      </select>
    </div>
    <div class="col-md-3 banf">
      <select
        id="country13"
        class="form-control"
        style="border: 1px solid rgb(34, 33, 33)"
      >
        <option>Finance Sector</option>
        <option>Banking Sector</option>
        <option>Engineering Sector</option>
        <option>Accounting Jobs</option>
        <option>Interior Design</option>
        <option>Export Import Jobs</option>
      </select>
    </div>
    <div class="col-md-3 banf">
      <button class="btn1" type="submit">
        FIND JOB
        <i class="fas fa-search"></i>
      </button>
    </div>
  </form>
</div>

<div class="container body-container">
  <div class="row">
    <section class="banner-bottom-wthree pb-lg-5 pb-md-4 pb-3">
      <div class="container">
        <div class="inner-sec-w3ls py-lg-5 py-3">
          <!---728x90--->
          <h3
            class="tittle text-center mb-lg-4 mb-3"
            style="font-size: 28px; font-weight: bold"
          >
            Danh sách các công việc hot nhất trong tuần
          </h3>
          <br />
          <hr style="border: 1px solid rgb(182, 177, 177)" />
          <!---728x90--->
          <div class="tabs mt-5">
            <ul class="nav nav-pills my-4" id="pills-tab" role="tablist"></ul>
            <div class="tab-content" id="pills-tabContent">
              <div
                class="tab-pane fade show active"
                id="pills-home"
                role="tabpanel"
                aria-labelledby="pills-home-tab"
              >
                <div class="menu-grids mt-4">
                  <div class="row t-in">
                    <div class="col-lg-8 text-info-sec">
                      <!--/job1-->

                      <div class="job-post-main row">
                        <div class="col-md-9 job-post-info text-left">
                          <div class="job-post-icon">
                            <i class="fas fa-briefcase"></i>
                          </div>
                          <div class="job-single-sec">
                            <h4>
                              <a href="#">User Interface Project Manager</a>
                            </h4>
                            <p class="my-2">Technology Management Consulting</p>
                            <ul class="job-list-info d-flex">
                              <li><i class="fas fa-briefcase"></i> Comera</li>
                              <li>
                                <i class="fas fa-map-marker-alt"></i> California
                              </li>
                              <li>
                                <i class="fas fa-dollar-sign"></i> 300000 -
                                500000 / Annum
                              </li>
                            </ul>
                          </div>
                          <div class="clearfix"></div>
                        </div>
                        <div class="col-md-3 job-single-time text-right">
                          <span class="job-time">
                            <i class="far fa-heart"></i> Full Time</span
                          >
                          <a href="/applyJob" class="aply-btn">Appy Now</a>
                        </div>
                      </div>
                      <!--//job1-->
                      <!--/job2-->

                      <div class="job-post-main row my-3">
                        <div class="col-md-9 job-post-info text-left">
                          <div class="job-post-icon">
                            <i class="fas fa-briefcase"></i>
                          </div>
                          <div class="job-single-sec">
                            <h4>
                              <a href="#"> Regional Sales Manager</a>
                            </h4>
                            <p class="my-2">Company Name goes here</p>
                            <ul class="job-list-info d-flex">
                              <li><i class="fas fa-briefcase"></i> Comera</li>
                              <li>
                                <i class="fas fa-map-marker-alt"></i> California
                              </li>
                              <li>
                                <i class="fas fa-dollar-sign"></i> 300000 -
                                500000 / Annum
                              </li>
                            </ul>
                          </div>
                          <div class="clearfix"></div>
                        </div>
                        <div class="col-md-3 job-single-time text-right">
                          <span class="job-time">
                            <i class="far fa-heart"></i> Part Time</span
                          >
                          <a href="/applyJob" class="aply-btn">Appy Now</a>
                        </div>
                      </div>
                      <!--//job2-->
                      <!--/job3-->

                      <div class="job-post-main row">
                        <div class="col-md-9 job-post-info text-left">
                          <div class="job-post-icon">
                            <i class="fas fa-briefcase"></i>
                          </div>
                          <div class="job-single-sec">
                            <h4>
                              <a href="#"> Web Designer / Developer</a>
                            </h4>
                            <p class="my-2">Company Name goes here</p>
                            <ul class="job-list-info d-flex">
                              <li><i class="fas fa-briefcase"></i> Chicago</li>
                              <li>
                                <i class="fas fa-map-marker-alt"></i> California
                              </li>
                              <li>
                                <i class="fas fa-dollar-sign"></i> 300000 -
                                500000 / Annum
                              </li>
                            </ul>
                          </div>
                          <div class="clearfix"></div>
                        </div>
                        <div class="col-md-3 job-single-time text-right">
                          <span class="job-time">
                            <i class="far fa-heart"></i> Full Time</span
                          >
                          <a href="/applyJob" class="aply-btn">Appy Now</a>
                        </div>
                      </div>
                      <!--//job3-->
                      <!--/job4-->

                      <div class="job-post-main row mt-3">
                        <div class="col-md-9 job-post-info text-left">
                          <div class="job-post-icon">
                            <i class="fas fa-briefcase"></i>
                          </div>
                          <div class="job-single-sec">
                            <h4>
                              <a href="#"> Marketing Director</a>
                            </h4>
                            <p class="my-2">Technology Management Consulting</p>
                            <ul class="job-list-info d-flex">
                              <li><i class="fas fa-briefcase"></i> Rennes</li>
                              <li>
                                <i class="fas fa-map-marker-alt"></i> France
                              </li>
                              <li>
                                <i class="fas fa-dollar-sign"></i> 300000 -
                                500000 / Annum
                              </li>
                            </ul>
                          </div>
                          <div class="clearfix"></div>
                        </div>
                        <div class="col-md-3 job-single-time text-right">
                          <span class="job-time">
                            <i class="far fa-heart"></i> Full Time</span
                          >
                          <a href="/applyJob" class="aply-btn">Appy Now</a>
                        </div>
                      </div>
                      <!--//job4-->
                      <!--/job1-->

                      <div class="job-post-main row mt-3">
                        <div class="col-md-9 job-post-info text-left">
                          <div class="job-post-icon">
                            <i class="fas fa-briefcase"></i>
                          </div>
                          <div class="job-single-sec">
                            <h4>
                              <a href="#">Developer for Site Maintenance </a>
                            </h4>
                            <p class="my-2">Company nName gose here</p>
                            <ul class="job-list-info d-flex">
                              <li><i class="fas fa-briefcase"></i> Comera</li>
                              <li>
                                <i class="fas fa-map-marker-alt"></i> California
                              </li>
                              <li>
                                <i class="fas fa-dollar-sign"></i> 300000 -
                                500000 / Annum
                              </li>
                            </ul>
                          </div>
                          <div class="clearfix"></div>
                        </div>
                        <div class="col-md-3 job-single-time text-right">
                          <span class="job-time">
                            <i class="far fa-heart"></i> Part Time</span
                          >
                          <a href="/applyJob" class="aply-btn">Appy Now</a>
                        </div>
                      </div>
                      <!--//job1-->
                      <!--/job2-->

                      <div class="job-post-main row my-3">
                        <div class="col-md-9 job-post-info text-left">
                          <div class="job-post-icon">
                            <i class="fas fa-briefcase"></i>
                          </div>
                          <div class="job-single-sec">
                            <h4>
                              <a href="#"> Content Writer and Speaker</a>
                            </h4>
                            <p class="my-2">Company Name goes here</p>
                            <ul class="job-list-info d-flex">
                              <li><i class="fas fa-briefcase"></i> Comera</li>
                              <li>
                                <i class="fas fa-map-marker-alt"></i> California
                              </li>
                              <li>
                                <i class="fas fa-dollar-sign"></i> 200000 -
                                100000 / Annum
                              </li>
                            </ul>
                          </div>
                          <div class="clearfix"></div>
                        </div>
                        <div class="col-md-3 job-single-time text-right">
                          <span class="job-time">
                            <i class="far fa-heart"></i> Part Time</span
                          >
                          <a href="/applyJob" class="aply-btn">Appy Now</a>
                        </div>
                      </div>
                      <!--//job2-->
                      <!--/job3-->

                      <div class="job-post-main row">
                        <div class="col-md-9 job-post-info text-left">
                          <div class="job-post-icon">
                            <i class="fas fa-briefcase"></i>
                          </div>
                          <div class="job-single-sec">
                            <h4>
                              <a href="#"> Web Designer / Developer</a>
                            </h4>
                            <p class="my-2">Company Name goes here</p>
                            <ul class="job-list-info d-flex">
                              <li><i class="fas fa-briefcase"></i> Chicago</li>
                              <li>
                                <i class="fas fa-map-marker-alt"></i> California
                              </li>
                              <li>
                                <i class="fas fa-dollar-sign"></i> 300000 -
                                500000 / Annum
                              </li>
                            </ul>
                          </div>
                          <div class="clearfix"></div>
                        </div>
                        <div class="col-md-3 job-single-time text-right">
                          <span class="job-time">
                            <i class="far fa-heart"></i> Full Time</span
                          >
                          <a href="/applyJob" class="aply-btn">Appy Now</a>
                        </div>
                      </div>
                      <!--//job3-->
                      <!--/job4-->

                      <div class="job-post-main row mt-3">
                        <div class="col-md-9 job-post-info text-left">
                          <div class="job-post-icon">
                            <i class="fas fa-briefcase"></i>
                          </div>
                          <div class="job-single-sec">
                            <h4>
                              <a href="#"> Marketing Director</a>
                            </h4>
                            <p class="my-2">Technology Management Consulting</p>
                            <ul class="job-list-info d-flex">
                              <li><i class="fas fa-briefcase"></i> Rennes</li>
                              <li>
                                <i class="fas fa-map-marker-alt"></i> France
                              </li>
                              <li>
                                <i class="fas fa-dollar-sign"></i> 300000 -
                                500000 / Annum
                              </li>
                            </ul>
                          </div>
                          <div class="clearfix"></div>
                        </div>
                        <div class="col-md-3 job-single-time text-right">
                          <span class="job-time">
                            <i class="far fa-heart"></i> Full Time</span
                          >
                          <a href="/applyJob" class="aply-btn">Appy Now</a>
                        </div>
                      </div>
                      <!--//job4-->
                    </div>
                    <div class="col-lg-4 text-info-sec">
                      <img
                        src="assets/images/job-3.jpg"
                        alt=" "
                        class="img-fluid"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="tab-pane fade"
                id="pills-profile"
                role="tabpanel"
                aria-labelledby="pills-profile-tab"
              >
                <div class="menu-grids mt-4">
                  <div class="row t-in">
                    <div class="col-lg-4 text-info-sec">
                      <img
                        src="assets/images/job-2.jpg"
                        alt=" "
                        class="img-fluid"
                      />
                    </div>
                    <div class="col-lg-8 text-info-sec">
                      <!--/job1-->

                      <div class="job-post-main row">
                        <div class="col-md-9 job-post-info text-left">
                          <div class="job-post-icon">
                            <i class="fas fa-briefcase"></i>
                          </div>
                          <div class="job-single-sec">
                            <h4>
                              <a href="#">Developer for Site Maintenance </a>
                            </h4>
                            <p class="my-2">Company nName gose here</p>
                            <ul class="job-list-info d-flex">
                              <li><i class="fas fa-briefcase"></i> Comera</li>
                              <li>
                                <i class="fas fa-map-marker-alt"></i> California
                              </li>
                              <li>
                                <i class="fas fa-dollar-sign"></i> 300000 -
                                500000 / Annum
                              </li>
                            </ul>
                          </div>
                          <div class="clearfix"></div>
                        </div>
                        <div class="col-md-3 job-single-time text-right">
                          <span class="job-time">
                            <i class="far fa-heart"></i> Part Time</span
                          >
                          <a href="/applyJob" class="aply-btn">Appy Now</a>
                        </div>
                      </div>
                      <!--//job1-->
                      <!--/job2-->

                      <div class="job-post-main row my-3">
                        <div class="col-md-9 job-post-info text-left">
                          <div class="job-post-icon">
                            <i class="fas fa-briefcase"></i>
                          </div>
                          <div class="job-single-sec">
                            <h4>
                              <a href="#"> Content Writer and Speaker</a>
                            </h4>
                            <p class="my-2">Company Name goes here</p>
                            <ul class="job-list-info d-flex">
                              <li><i class="fas fa-briefcase"></i> Comera</li>
                              <li>
                                <i class="fas fa-map-marker-alt"></i> California
                              </li>
                              <li>
                                <i class="fas fa-dollar-sign"></i> 200000 -
                                100000 / Annum
                              </li>
                            </ul>
                          </div>
                          <div class="clearfix"></div>
                        </div>
                        <div class="col-md-3 job-single-time text-right">
                          <span class="job-time">
                            <i class="far fa-heart"></i> Part Time</span
                          >
                          <a href="/applyJob" class="aply-btn">Appy Now</a>
                        </div>
                      </div>
                      <!--//job2-->
                      <!--/job3-->

                      <div class="job-post-main row">
                        <div class="col-md-9 job-post-info text-left">
                          <div class="job-post-icon">
                            <i class="fas fa-briefcase"></i>
                          </div>
                          <div class="job-single-sec">
                            <h4>
                              <a href="#"> Web Designer / Developer</a>
                            </h4>
                            <p class="my-2">Company Name goes here</p>
                            <ul class="job-list-info d-flex">
                              <li><i class="fas fa-briefcase"></i> Chicago</li>
                              <li>
                                <i class="fas fa-map-marker-alt"></i> California
                              </li>
                              <li>
                                <i class="fas fa-dollar-sign"></i> 300000 -
                                500000 / Annum
                              </li>
                            </ul>
                          </div>
                          <div class="clearfix"></div>
                        </div>
                        <div class="col-md-3 job-single-time text-right">
                          <span class="job-time">
                            <i class="far fa-heart"></i> Full Time</span
                          >
                          <a href="/applyJob" class="aply-btn">Appy Now</a>
                        </div>
                      </div>
                      <!--//job3-->
                      <!--/job4-->

                      <div class="job-post-main row mt-3">
                        <div class="col-md-9 job-post-info text-left">
                          <div class="job-post-icon">
                            <i class="fas fa-briefcase"></i>
                          </div>
                          <div class="job-single-sec">
                            <h4>
                              <a href="#"> Marketing Director</a>
                            </h4>
                            <p class="my-2">Technology Management Consulting</p>
                            <ul class="job-list-info d-flex">
                              <li><i class="fas fa-briefcase"></i> Rennes</li>
                              <li>
                                <i class="fas fa-map-marker-alt"></i> France
                              </li>
                              <li>
                                <i class="fas fa-dollar-sign"></i> 300000 -
                                500000 / Annum
                              </li>
                            </ul>
                          </div>
                          <div class="clearfix"></div>
                        </div>
                        <div class="col-md-3 job-single-time text-right">
                          <span class="job-time">
                            <i class="far fa-heart"></i> Full Time</span
                          >
                          <a href="/applyJob" class="aply-btn">Appy Now</a>
                        </div>
                      </div>
                      <!--//job4-->
                      <!--/job1-->

                      <div class="job-post-main row mt-3">
                        <div class="col-md-9 job-post-info text-left">
                          <div class="job-post-icon">
                            <i class="fas fa-briefcase"></i>
                          </div>
                          <div class="job-single-sec">
                            <h4>
                              <a href="#">Developer for Site Maintenance </a>
                            </h4>
                            <p class="my-2">Company nName gose here</p>
                            <ul class="job-list-info d-flex">
                              <li><i class="fas fa-briefcase"></i> Comera</li>
                              <li>
                                <i class="fas fa-map-marker-alt"></i> California
                              </li>
                              <li>
                                <i class="fas fa-dollar-sign"></i> 300000 -
                                500000 / Annum
                              </li>
                            </ul>
                          </div>
                          <div class="clearfix"></div>
                        </div>
                        <div class="col-md-3 job-single-time text-right">
                          <span class="job-time">
                            <i class="far fa-heart"></i> Part Time</span
                          >
                          <a href="/applyJob" class="aply-btn">Appy Now</a>
                        </div>
                      </div>
                      <!--//job1-->
                      <!--/job2-->

                      <div class="job-post-main row my-3">
                        <div class="col-md-9 job-post-info text-left">
                          <div class="job-post-icon">
                            <i class="fas fa-briefcase"></i>
                          </div>
                          <div class="job-single-sec">
                            <h4>
                              <a href="#"> Content Writer and Speaker</a>
                            </h4>
                            <p class="my-2">Company Name goes here</p>
                            <ul class="job-list-info d-flex">
                              <li><i class="fas fa-briefcase"></i> Comera</li>
                              <li>
                                <i class="fas fa-map-marker-alt"></i> California
                              </li>
                              <li>
                                <i class="fas fa-dollar-sign"></i> 200000 -
                                100000 / Annum
                              </li>
                            </ul>
                          </div>
                          <div class="clearfix"></div>
                        </div>
                        <div class="col-md-3 job-single-time text-right">
                          <span class="job-time">
                            <i class="far fa-heart"></i> Part Time</span
                          >
                          <a href="/applyJob" class="aply-btn">Appy Now</a>
                        </div>
                      </div>
                      <!--//job2-->
                      <!--/job3-->

                      <div class="job-post-main row">
                        <div class="col-md-9 job-post-info text-left">
                          <div class="job-post-icon">
                            <i class="fas fa-briefcase"></i>
                          </div>
                          <div class="job-single-sec">
                            <h4>
                              <a href="#"> Web Designer / Developer</a>
                            </h4>
                            <p class="my-2">Company Name goes here</p>
                            <ul class="job-list-info d-flex">
                              <li><i class="fas fa-briefcase"></i> Chicago</li>
                              <li>
                                <i class="fas fa-map-marker-alt"></i> California
                              </li>
                              <li>
                                <i class="fas fa-dollar-sign"></i> 300000 -
                                500000 / Annum
                              </li>
                            </ul>
                          </div>
                          <div class="clearfix"></div>
                        </div>
                        <div class="col-md-3 job-single-time text-right">
                          <span class="job-time">
                            <i class="far fa-heart"></i> Part Time</span
                          >
                          <a href="/applyJob" class="aply-btn">Appy Now</a>
                        </div>
                      </div>
                      <!--//job3-->
                      <!--/job4-->

                      <div class="job-post-main row mt-3">
                        <div class="col-md-9 job-post-info text-left">
                          <div class="job-post-icon">
                            <i class="fas fa-briefcase"></i>
                          </div>
                          <div class="job-single-sec">
                            <h4>
                              <a href="#"> Marketing Director</a>
                            </h4>
                            <p class="my-2">Technology Management Consulting</p>
                            <ul class="job-list-info d-flex">
                              <li><i class="fas fa-briefcase"></i> Rennes</li>
                              <li>
                                <i class="fas fa-map-marker-alt"></i> France
                              </li>
                              <li>
                                <i class="fas fa-dollar-sign"></i> 300000 -
                                500000 / Annum
                              </li>
                            </ul>
                          </div>
                          <div class="clearfix"></div>
                        </div>
                        <div class="col-md-3 job-single-time text-right">
                          <span class="job-time">
                            <i class="far fa-heart"></i> Full Time</span
                          >
                          <a href="/applyJob" class="aply-btn">Appy Now</a>
                        </div>
                      </div>
                      <!--//job4-->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="col-sm-9">
      <div
        class="text-center search-result-paginator"
        style="margin-bottom: 100px"
      >
        <nav>
          <ul class="pagination">
            <li class="active"><a href="#">1</a></li>
            <li><a href="/tim-viec-lam-tai/da-nang/DN?page=2">2</a></li>
            <li><a href="/tim-viec-lam-tai/da-nang/DN?page=3">3</a></li>
            <li><a href="/tim-viec-lam-tai/da-nang/DN?page=4">4</a></li>
            <li><a href="/tim-viec-lam-tai/da-nang/DN?page=5">5</a></li>
            <li><a href="/tim-viec-lam-tai/da-nang/DN?page=6">6</a></li>
            <li><a href="/tim-viec-lam-tai/da-nang/DN?page=7">7</a></li>
            <li class="omit"><span>...</span></li>
            <li><a href="/tim-viec-lam-tai/da-nang/DN?page=13">13</a></li>
            <li>
              <a href="/tim-viec-lam-tai/da-nang/DN?page=2"
                ><span aria-hidden="true">»</span
                ><span class="sr-only">Tiếp tục</span></a
              >
            </li>
          </ul>
        </nav>
      </div>

      <ul class="list-inline text-center share-buttons">
        <li>
          <a
            href="https://www.facebook.com/dialog/share?app_id=157848801689&amp;display=popup&amp;href=https%3A%2F%2Fwww.careerlink.vn%2Ftim-viec-lam-tai%2Fda-nang%2FDN&amp;redirect_uri=https%3A%2F%2Fwww.careerlink.vn%2Ftim-viec-lam-tai%2Fda-nang%2FDN"
            target="_blank"
            class="facebook"
            onclick="ga('send', 'event', 'Fixed Share Buttons for PC', 'Click', 'Facebook', 1);"
            ><img
              src="https://www.careerlink.vn/images/common/btn/text-facebook.png?v533"
              width="32"
              height="32"
              alt="Facebook"
          /></a>
        </li>
        <script src="https://sp.zalo.me/plugins/sdk.js"></script>
        <li class="zalo">
          <div
            class="zalo-share-button"
            data-href="https%3A%2F%2Fwww.careerlink.vn%2Ftim-viec-lam-tai%2Fda-nang%2FDN"
            data-oaid="579745863508352884"
            data-layout="4"
            data-color="blue"
            data-customize="false"
            style="
              overflow: hidden;
              display: inline-block;
              width: 40px;
              height: 40px;
            "
          >
            <iframe
              frameborder="0"
              allowfullscreen=""
              scrolling="no"
              width="40px"
              height="40px"
              src="https://sp.zalo.me/plugins/share?dev=null&amp;color=blue&amp;oaid=579745863508352884&amp;href=https%253A%252F%252Fwww.careerlink.vn%252Ftim-viec-lam-tai%252Fda-nang%252FDN&amp;layout=4&amp;customize=false&amp;callback=null&amp;id=ce4f934c-aba7-41c1-95c0-3eceaf7ed395&amp;domain=www.careerlink.vn&amp;android=false&amp;ios=false"
            ></iframe>
          </div>
        </li>
        <li>
          <a
            href="https://www.linkedin.com/shareArticle?mini=true&amp;url=https%3A%2F%2Fwww.careerlink.vn%2Ftim-viec-lam-tai%2Fda-nang%2FDN&amp;title=T%C3%ACm%20vi%E1%BB%87c%20l%C3%A0m%2C%20tuy%E1%BB%83n%20d%E1%BB%A5ng%20t%E1%BA%A1i%20%C4%90%C3%A0%20N%E1%BA%B5ng%20%7C%20CareerLink.vn&amp;source=https://www.careerlink.vn"
            target="_blank"
            class="linkedin"
            onclick="ga('send', 'event', 'Fixed Share Buttons for PC', 'Click', 'LinkedIn', 1);"
            ><i class="fa fa-linkedin fa-2x"></i
          ></a>
        </li>
        <li>
          <a
            href="https://twitter.com/share?url=https%3A%2F%2Fwww.careerlink.vn%2Ftim-viec-lam-tai%2Fda-nang%2FDN&amp;text=T%C3%ACm%20vi%E1%BB%87c%20l%C3%A0m%2C%20tuy%E1%BB%83n%20d%E1%BB%A5ng%20t%E1%BA%A1i%20%C4%90%C3%A0%20N%E1%BA%B5ng%20%7C%20CareerLink.vn"
            target="_blank"
            class="twitter"
            onclick="ga('send', 'event', 'Fixed Share Buttons for PC', 'Click', 'Twitter', 1);"
            ><i class="fa fa-twitter fa-2x"></i
          ></a>
        </li>
        <li>
          <a
            href="mailto:?subject=T%C3%ACm%20vi%E1%BB%87c%20l%C3%A0m%2C%20tuy%E1%BB%83n%20d%E1%BB%A5ng%20t%E1%BA%A1i%20%C4%90%C3%A0%20N%E1%BA%B5ng%20%7C%20CareerLink.vn&amp;body=https://www.careerlink.vn/tim-viec-lam-tai/da-nang/DN"
            class="envelope"
            onclick="ga('send', 'event', 'Fixed Share Buttons for PC', 'Click', 'Mail', 1);"
            ><i class="fa fa-envelope fa-2x"></i
          ></a>
        </li>
      </ul>
    </div>

    <div class="col-sm-12 mrg-top-20" style="margin-bottom: 50px">
      <a rel="nofollow" href="/topcv" target="_blank"
        ><picture>
          <source
            srcset="https://jobsgo.vn/media/img/cv/cv-list.webp"
            type="image/webp"
          />
          <img
            src="https://jobsgo.vn/media/img/cv/cv-list.webp"
            width="100%"
            class="img-responsive hidden-xs"
            alt="JobsGO CV"
          /> </picture
      ></a>
    </div>
  </div>
</div>
