<!-- Footer -->
<footer class="page-footer font-small blue-grey lighten-5" style="color: black; margin-top: 40px;">
  <div style="background-color: #d9e9e3">
    <div class="container-col">
      <!-- Grid row-->
      <div
        class="row py-4 d-flex align-items-center"
        style="margin-left: 410px"
      >
        <!-- Grid column -->

        <div class="col-md-6 col-lg-11 text-center text-md-left">
          <div class="wrapper">
            <div class="button" style="margin: auto 15px">
              <div class="icon">
                <i class="fab fa-facebook-f"></i>
              </div>
              <span>Facebook</span>
            </div>
            <div class="button" style="margin: auto 15px">
              <div class="icon">
                <i class="fab fa-twitter"></i>
              </div>
              <span>Twitter</span>
            </div>
            <div class="button" style="margin: auto 15px">
              <div class="icon">
                <i class="fab fa-instagram"></i>
              </div>
              <span>Instagram</span>
            </div>
            <div class="button" style="margin: auto 15px">
              <div class="icon">
                <i class="fab fa-github"></i>
              </div>
              <span>Github</span>
            </div>
            <div class="button" style="margin: auto 15px">
              <div class="icon">
                <i class="fab fa-youtube"></i>
              </div>
              <span>YouTube</span>
            </div>
            <div class="button">
              <div class="icon">
                <i class="fab fa-linkedin"></i>
              </div>
              <span>linkedin</span>
            </div>
          </div>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row-->
    </div>
  </div>

  <!-- Footer Links -->
  <div class="container-col text-center text-md-left mt-5 ml-5">
    <!-- Grid row -->
    <div class="row mt-5 dark-grey-text">
      <!-- Grid column -->

      <div class="col-md-2 col-lg- col-xl-2 mx-auto mb-4">
        <!-- Links -->

        <h6 class="text-uppercase font-weight-bold">TẢI ỨNG DỤNG NGAY</h6>
        <hr
          class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto"
          style="width: 170px"
        />
        <div class="row">
          <div
            class="appWrapper-DesktopFooter-item appWrapper-DesktopFooter-item-in-row mr-1"
          >
            <img
              alt="Chợ Tốt"
              class="appWrapper-img-qr"
              style="height: 60px; width: 60px"
              src="https://static.chotot.com/storage/default/group-qr.jpeg"
            />
          </div>
          <div
            class="appWrapper-DesktopFooter-item appWrapper-DesktopFooter-item-in-row"
          >
            <ul class="appWrapper-Footer-ul">
              <li class="appWrapper-DesktopFooter-li">
                <a
                  class="appWrapper-Footer-a"
                  href="https://apps.apple.com/us/app/jobsgo-jobs-on-the-go/id1234120247"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <img
                    alt="App Store"
                    height="32"
                    src="https://static.chotot.com/storage/default/ios.svg"
                  />
                </a>
              </li>
              <li class="appWrapper-DesktopFooter-li">
                <a
                  class="appWrapper-Footer-a"
                  href="https://play.google.com/store/apps/details?id=vn.ca.hope.candidate&hl=vi&referrer=utm_source%3Dweb_ntv%26utm_medium%3Dmedium%26utm_term%3Dterm"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <img
                    alt="Google Play"
                    height="32"
                    src="https://static.chotot.com/storage/default/android.svg"
                  />
                </a>
              </li>
            </ul>
          </div>
        </div>

        <div class="appWrapper-DesktopFooter-item">
          <div class="appWrapper-DesktopFooter-heading mb-1">
            <strong>CHỨNG NHẬN</strong>
          </div>
          <ul class="appWrapper-Footer-ul mb-0">
            <li
              class="appWrapper-DesktopFooter-li appWrapper-DesktopFooter-li-icon"
              style="list-style: none"
            >
              <a
                class="appWrapper-Footer-a"
                target="_blank"
                rel="noopener noreferrer"
                href="http://online.gov.vn/HomePage/WebsiteDisplay.aspx?DocId=33127"
                ><img
                  alt="Certification"
                  src="https://static.chotot.com/storage/default/cerfiticate.png"
              /></a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">THANH TOÁN</h6>
        <hr
          class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto"
          style="width: 100px"
        />
        <p>
          <i
            class="fab fa-cc-amex mr-1"
            style="font-size: 48px; color: red"
          ></i>
          <i
            class="fab fa-cc-discover mr-1"
            style="font-size: 48px; color: red"
          ></i>
          <i
            class="fab fa-cc-mastercard"
            style="font-size: 48px; color: red"
          ></i>
        </p>

        <p>
          <i
            class="fab fa-cc-visa mr-1"
            style="font-size: 48px; color: blue"
          ></i>
          <i
            class="fab fa-cc-paypal mr-1"
            style="font-size: 48px; color: blue"
          ></i>
          <i class="fab fa-cc-jcb" style="font-size: 48px; color: blue"></i>
        </p>
      </div>

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">HỖ TRỢ KHÁCH HÀNG</h6>
        <hr
          class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto"
          style="width: 180px"
        />
        <p>
          <a class="dark-grey-text" href="#!">Trung tâm trợ giúp</a>
        </p>

        <p>
          <a class="dark-grey-text" href="#!">Quy định cần biết</a>
        </p>
        <p>
          <a class="dark-grey-text" href="#!">Quy chế riêng tư</a>
        </p>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-1 col-lg-1 col-xl-2 mx-auto mb-2ng">
        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Về công ty</h6>
        <hr
          class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto"
          style="width: 130px"
        />
        <p>
          <a class="dark-grey-text" href="#!">Giới thiệu về công ty</a>
        </p>
        <p>
          <a class="dark-grey-text" href="#!">Chính sách bảo mật</a>
        </p>
        <p>
          <a class="dark-grey-text" href="#!">Liên kết truyền thông</a>
        </p>
        <p>
          <a class="dark-grey-text" href="#!">Kênh tìm việc</a>
        </p>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">LIÊN HỆ</h6>
        <hr
          class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto"
          style="width: 65px"
        />
        <p><i class="fas fa-home mr-3"></i> Phòng 1808, Tầng 18, Mê Linh</p>
        <p><i class="fas fa-envelope mr-3"></i> qtgrouph@example.com</p>
        <p><i class="fas fa-phone mr-3"></i> + 01 253715598</p>
        <p><i class="fas fa-print mr-3"></i> + 08 555626266</p>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <hr />
  <div class="footer-copyright text-center text-black-50 py-3">
    <section class="appWrapper-DesktopFooter-container-bottom">
      <address class="appWrapper-DesktopFooter-address">
        <i>
          CÔNG TY QT GROUP- Địa chỉ: Phòng 1808, Tầng 18, Mê Linh Point Tower,
          02 Ngô Đức Kế, Phường Bến Nghé, Quận 1, TP Hồ Chí Minh <br />Giấy
          chứng nhận đăng ký doanh nghiệp số 0312120782 do Sở Kế Hoạch và Đầu Tư
          TPHCM cấp ngày 11/01/2013 <br />Email: trogiup@chotot.vn - Đường dây
          nóng: (028)38664041</i
        >
      </address>
    </section>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
