




<div class="g-grid">
    <div class="g-grid-col">
      <form class="login-form" autocomplete="off" action="#">
        <input type="email" name="email" placeholder="Tài Khoản"/>
        <div class="input-icon">
          <input type="password" name="email" placeholder="Mật Khẩu"/>
          <i class="fa fa-eye show-password"></i>
        </div>
        <a href="#" class="forgot">Quên mật khẩu?</a>
        <button>Đăng nhập</button>
      <br>
      <hr>
        <button>Đăng ký</button>
      </form>
      <br>  </div>
    <div class="g-grid-col">

      <div class="marquee down">
        <p><a href="#" target="_blank" >Tạo CV dễ dàng hơn</a></p>
        <p><a href="#" target="_blank" >Dễ dàng liên kết với nhà tuyển dụng</a></p>
        </div>
        <img src="../assets/images/images/QT-HR.png" class="img">
      </div>
</div>
