<div
  class="container"
  style="
    border: 1px solid rgb(160, 153, 153);
    margin-bottom: 30px;
    border-radius: 5%;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.6);
  "
>
  <header>Login</header>
  <form>
    <div class="input-field">
      <input type="text" required />
      <label>Email or tài khoản</label>
    </div>
    <div class="input-field">
      <input class="pswrd" type="password" required />
      <span class="show">SHOW</span>
      <label>Mật khẩu</label>
    </div>
    <div class="button">
      <div class="inner"></div>
      <button>Đăng Nhập</button>
    </div>
  </form>
  <div class="auth">Hoặc đăng nhập bằng</div>
  <div class="links">
    <div class="facebook">
      <i class="fab fa-facebook-square"><span>Facebook</span></i>
    </div>
    <div class="google">
      <i class="fab fa-google-plus-square" style="margin-left: 120px"
        ><span>Google</span></i
      >
    </div>
  </div>
  <div class="signup">Bạn chưa phải là nhà tuyển dụng? <a href="/register">Đăng ký ngay</a></div>
</div>
<script>
  var input = document.querySelector(".pswrd");
  var show = document.querySelector(".show");
  show.addEventListener("click", active);
  function active() {
    if (input.type === "password") {
      input.type = "text";
      show.style.color = "#1DA1F2";
      show.textContent = "HIDE";
    } else {
      input.type = "password";
      show.textContent = "SHOW";
      show.style.color = "#111";
    }
  }
</script>
