<div class="body-form" style="margin-top: 50px;">
<form>
  <h1>ĐĂNG NHẬP</h1>
  <div class="form-group">

    <input type="email" data-validate="Account Name is required" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Vui lòng nhập Tài khoản">
   </div>
  <div class="form-group">

    <input type="password" data-validate="Password is required" class="form-control" id="exampleInputPassword1" placeholder="Vui lòng nhập Mật khẩu" >
  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label"  for="exampleCheck1">&nbsp;&nbsp;&nbsp;Nhớ mật khẩu</label>
  </div>
  <button type="submit" class="btn btn-primary">Đăng nhập</button><br><br>
  <p>Bạn chưa có tài khoản. <a href="register">Nhấn vào đây</a>!</p>
  <p>Bạn muốn là nhà tuyển dụng. <a href="employer">Nhấn vào đây</a>!</p>


</form>
</div>
