<main class="ps-main">
  <form class="jotform-form" action="https://submit.jotform.com/submit/202671468576465/" method="post" enctype="multipart/form-data" name="form_202671468576465" id="202671468576465" accept-charset="utf-8" autocomplete="on">
    <input type="hidden" name="formID" value="202671468576465" />
    <input type="hidden" id="JWTContainer" value="" />
    <input type="hidden" id="cardinalOrderNumber" value="" />
    <div role="main" class="form-all">
      <link type="text/css" rel="stylesheet" media="all" href="https://cdn.jotfor.ms/wizards/languageWizard/custom-dropdown/css/lang-dd.css?3.3.20468" />
      <div class="cont">
        <input type="text" id="input_language" name="input_language" style="display:none" />
        <div class="language-dd" id="langDd" style="display:none">
          <div class="dd-placeholder lang-emp">
            Language
          </div>
          <ul class="lang-list dn" id="langList">
            <li data-lang="en" class="en">
              English (US)
            </li>
            <li data-lang="vi" class="vi">
              Vietnamese
            </li>
          </ul>
        </div>
      </div>
      <script type="text/javascript" src="https://cdn.jotfor.ms/js/formTranslation.v2.js?3.3.20468"></script>
      <ul class="form-section page-section">
        <li id="cid_1" class="form-input-wide" data-type="control_head">
          <div class="form-header-group  header-default">
            <div class="header-text httal htvam">
              <h2 id="header_1" class="form-header" data-component="header">
                CV Submission
              </h2>
              <div id="subHeader_1" class="form-subHeader">
                Do you want to work with us? Please fill in your details below.
              </div>
            </div>
          </div>
        </li>
        <li class="form-line jf-required" data-type="control_textbox" id="id_3">
          <label class="form-label form-label-left form-label-auto" id="label_3" for="input_3">
            First Name
            <span class="form-required">
            *
          </span>
          </label>
          <div id="cid_3" class="form-input jf-required">
            <input type="text" id="input_3" name="q3_firstName" data-type="input-textbox" class="form-textbox validate[required]" size="20" value="" placeholder=" " data-component="textbox" aria-labelledby="label_3" required="" />
          </div>
        </li>
        <li class="form-line jf-required" data-type="control_textbox" id="id_4">
          <label class="form-label form-label-left form-label-auto" id="label_4" for="input_4">
            Last Name
            <span class="form-required">
            *
          </span>
          </label>
          <div id="cid_4" class="form-input jf-required">
            <input type="text" id="input_4" name="q4_lastName" data-type="input-textbox" class="form-textbox validate[required]" size="20" value="" placeholder=" " data-component="textbox" aria-labelledby="label_4" required="" />
          </div>
        </li>
        <li class="form-line jf-required" data-type="control_textbox" id="id_5">
          <label class="form-label form-label-left form-label-auto" id="label_5" for="input_5">
            Email Address
            <span class="form-required">
            *
          </span>
          </label>
          <div id="cid_5" class="form-input jf-required">
            <input type="text" id="input_5" name="q5_emailAddress" data-type="input-textbox" class="form-textbox validate[required, Email]" size="20" value="" placeholder=" " data-component="textbox" aria-labelledby="label_5" required="" />
          </div>
        </li>
        <li class="form-line" data-type="control_textbox" id="id_9">
          <label class="form-label form-label-left form-label-auto" id="label_9" for="input_9"> Position Applying For </label>
          <div id="cid_9" class="form-input">
            <input type="text" id="input_9" name="q9_positionApplying" data-type="input-textbox" class="form-textbox" size="20" value="" placeholder=" " data-component="textbox" aria-labelledby="label_9" />
          </div>
        </li>
        <li class="form-line jf-required" data-type="control_textarea" id="id_6">
          <label class="form-label form-label-left form-label-auto" id="label_6" for="input_6">
            Additional Information
            <span class="form-required">
            *
          </span>
          </label>
          <div id="cid_6" class="form-input jf-required">
            <textarea id="input_6" class="form-textarea validate[required]" name="q6_additionalInformation" cols="40" rows="6" data-component="textarea" required="" aria-labelledby="label_6"></textarea>
          </div>
        </li>
        <li class="form-line jf-required" data-type="control_fileupload" id="id_7">
          <label class="form-label form-label-left form-label-auto" id="label_7" for="input_7">
            Upload your CV Here
            <span class="form-required">
            *
          </span>
          </label>
          <div id="cid_7" class="form-input jf-required">
            <input type="file" id="input_7" name="q7_uploadYour" class="form-upload validate[required]" data-imagevalidate="yes" data-file-accept="pdf, doc, docx, xls, csv, txt, rtf, html, zip, mp3, wma, mpg, flv, avi, jpg, jpeg, png, gif" data-file-maxsize="10240" data-file-minsize="0" data-file-limit="0" data-component="fileupload" required="" />
          </div>
        </li>
        <li class="form-line" data-type="control_fileupload" id="id_10">
          <label class="form-label form-label-left form-label-auto" id="label_10" for="input_10"> Other Testmonials (e.g Certificates) </label>
          <div id="cid_10" class="form-input">
            <input type="file" id="input_10" name="q10_otherTestmonials" class="form-upload" data-imagevalidate="yes" data-file-accept="pdf, doc, docx, xls, csv, txt, rtf, html, zip, mp3, wma, mpg, flv, avi, jpg, jpeg, png, gif" data-file-maxsize="10240" data-file-minsize="0" data-file-limit="0" data-component="fileupload" />
          </div>
        </li>
        <li class="form-line" data-type="control_button" id="id_2">
          <div id="cid_2" class="form-input-wide">
            <div style="margin-left:156px" data-align="auto" class="form-buttons-wrapper form-buttons-auto   jsTest-button-wrapperField">
              <button id="input_2" type="submit" class="form-submit-button submit-button jf-form-buttons jsTest-submitField" data-component="button" data-content="">
                Submit CV
              </button>
            </div>
          </div>
        </li>
        <li style="display:none">
          Should be Empty:
          <input type="text" name="website" value="" />
        </li>
      </ul>
    </div>
    <script>
      JotForm.showJotFormPowered = "new_footer";
    </script>
    <script>
      JotForm.poweredByText = "Powered by JotForm";
    </script>
    <input type="hidden" class="simple_spc" id="simple_spc" name="simple_spc" value="202671468576465" />
    <script type="text/javascript">
      var all_spc = document.querySelectorAll("form[id='202671468576465'] .si" + "mple" + "_spc");
      for (var i = 0; i < all_spc.length; i++)
      {
        all_spc[i].value = "202671468576465-202671468576465";
      }
    </script>
  </form>
</main>
